workflows/0nTFUgJw31voQl2P.json
{
  "createdAt": "2025-06-23T23:12:21.023Z",
  "updatedAt": "2025-06-23T23:12:21.000Z",
  "id": "anO61zABqRyVkFTu",
  "name": "Summarize GIT Log for Client Email copy",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        100
      ],
      "id": "414f297b-64ed-41e4-a724-05754e362079",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/adamhaley/amplified-expansion-coaching/commits",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "=since",
              "value": "={{ $now.minus(7,'days') }}"
            },
            {
              "name": "sha",
              "value": "staging"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        100
      ],
      "id": "e145fbcc-b9a4-4334-8238-4c06715be663",
      "name": "Get Commit History"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "commit.message"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        660,
        0
      ],
      "id": "a94ffce4-c430-47a7-bf8a-f5aab4855fd5",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        968,
        220
      ],
      "id": "9b329eaf-4e8e-44ee-9fae-3e2eb3d5e8e9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "5GRgzlcJ5Ujkvgcd",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ddecfe50-8886-41a2-8f46-f5028e678f7c",
              "leftValue": "={{ $json.commit }}",
              "rightValue": "=exists",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        100
      ],
      "id": "3ea12de2-ebcb-417b-bbf2-78924de0c5ea",
      "name": "If"
    },
    {
      "parameters": {
        "fromEmail": "info@ahmedia.ai",
        "toEmail": "jenacarpenter@gmail.com",
        "subject": "=Updates to AmplifiedExpansion.com!",
        "emailFormat": "text",
        "text": "=Hi Jena,\n\nI wanted to keep you in the loop on your latest site updates from your team at AHMedia this week! \n\n{{ $json.response.text }}\n\nAs always, feel free to reach out if you have any questions!\n\nSincerely,\n\nAHMedia BOT",
        "options": {
          "appendAttribution": false
        },
        "path": "1a5dbda7-b198-4880-8367-8d9146dec8bb"
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1256,
        0
      ],
      "id": "c34608b7-5b17-4646-959d-ffd9c9549be2",
      "name": "Send Email",
      "webhookId": "1a5dbda7-b198-4880-8367-8d9146dec8bb",
      "credentials": {
        "smtp": {
          "id": "184zfe9H1Rf34NpO",
          "name": "AHMedia SMTP account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "summarizationMethodAndPrompts": {
            "values": {
              "combineMapPrompt": "Your summary will start with \"Updates include\"\nWrite a concise summary of the following:\n\n\n\"{text}\"\n\n\nCONCISE SUMMARY:"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "typeVersion": 2,
      "position": [
        880,
        0
      ],
      "id": "c92dd0b8-ff83-4c06-8fd3-f25ed7d7b741",
      "name": "Summarize Git Log"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        660,
        200
      ],
      "id": "8eb0f08f-f619-4ab0-bb7f-885ce6522fde",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "content": "# Summarize GIT Commit History for client email\n\nThis workflow looks at the git history of a public github repository. If there are any commits in the last 7 days, commit messages are summarized into a friendly client email and sent to the client.\n",
        "height": 240,
        "width": 420,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        -460
      ],
      "id": "5e2c3c7d-7ff6-42d4-85a6-5572ede67fcf",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Every Week, load the past weeks commit history ",
        "height": 540,
        "width": 420
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        -120
      ],
      "id": "0119e0ca-0652-4390-8556-1638e6b8d9a7",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## If there are commits, aggregate for AI processing\n",
        "height": 540,
        "width": 440,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        400,
        -120
      ],
      "id": "07ff9b21-7d56-4cb9-a3cf-3e4720371045",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Summarize commit history messages into friendly client email\n",
        "height": 540,
        "width": 340,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        860,
        -120
      ],
      "id": "4adea005-f88d-44d1-b1af-0a5950c153f1",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Send client email",
        "height": 540,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1220,
        -120
      ],
      "id": "dd7a128e-8f89-4fd5-bebb-d9a7a648949e",
      "name": "Sticky Note4"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Commit History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Commit History": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Summarize Git Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize Git Log",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Git Log": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": [
        173
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "dfcd5c5c-cb04-4105-b5c2-906b28e661dd",
  "triggerCount": 1,
  "tags": []
}