workflows/4_day_since_booking_reminder_automation.json
{
  "createdAt": "2025-08-27T21:35:14.616Z",
  "updatedAt": "2025-09-06T15:49:33.000Z",
  "id": "TMG3zMBC2TjSRBz7",
  "name": "4 day since booking reminder automation",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Calculate date 4 days ago\nconst fourDaysAgo = new Date();\nfourDaysAgo.setDate(fourDaysAgo.getDate() - 4);\n\n// Format for Amelia API (YYYY-MM-DD)\nconst targetDate = fourDaysAgo.toISOString().split('T')[0];\nconst startDateTime = targetDate + ' 00:00:00';\nconst endDateTime = targetDate + ' 23:59:59';\n\nconsole.log(`Looking for bookings from: ${targetDate}`);\n\nreturn [{\n  targetDate: targetDate,\n  startDateTime: startDateTime,\n  endDateTime: endDateTime,\n  timestamp: new Date().toISOString()\n}];"
      },
      "id": "b882b246-cadb-4ae9-9cde-b22060b888f6",
      "name": "Calculate Target Date",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -752,
        -320
      ]
    },
    {
      "parameters": {
        "url": "https://ronnieadamowicz.com/wp-admin/admin-ajax.php?action=wpamelia_api&call=/api/v1/appointments",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "dates",
              "value": "={{ $json.targetDate }},{{ $json.targetDate }}"
            },
            {
              "name": "skipServices",
              "value": "0"
            },
            {
              "name": "skipProviders",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Amelia",
              "value": "NfNO/tfDXeO3KVBkpkz/QvI/GwxZVdDfD9AmBXnjKaao"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          },
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "4950c779-2736-431b-8ccc-c36149565341",
      "name": "Get Bookings 4 Days Ago",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -528,
        -320
      ]
    },
    {
      "parameters": {
        "url": "https://ronnieadamowicz.com/wp-json/fluent-crm/v2/subscribers/0",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "get_by_email",
              "value": "={{ $('Set Extracted Fields1').item.json.email}}\n"
            },
            {
              "name": "per_page",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "c26b78a0-e422-4945-92fe-88bc5fc53f6f",
      "name": "Find FluentCRM Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -768,
        0
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://ronnieadamowicz.com/wp-json/fluent-crm/v2/subscribers/{{  $('Find FluentCRM Contact').item.json.subscriber.id}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"subscriber\": {\n    \"attach_tags\": [{{ $json.id }}]\n\n  }\n}",
        "options": {}
      },
      "id": "005636c4-2d19-4277-a384-f8058c6a5280",
      "name": "Add FluentCRM Tag",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "console.log(`🎉 Successfully added 'no-future-bookings' tag to:`, $input.all());\n\nreturn $input.all().map(item => {\n  return {\n    json: {\n      ...item.json,\n      success: true\n    }\n  };\n});\n"
      },
      "id": "80f4a29c-7ad5-4e26-849e-7341c98e287f",
      "name": "Log Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get the incoming JSON (adjust if your incoming variable is different)\nconst data = $input.first().json.data.appointments;\n\nconst customers = Object.values(data)\n    .flatMap(day => day.appointments)\n    .flatMap(appt => appt.bookings)\n    .map(booking => booking.customer);\n\n// Deduplicate by customer ID\nconst customerData = Object.values(\n    customers.reduce((acc, customer) => {\n        acc[customer.id] = customer;\n        return acc;\n    }, {})\n);\n\n// Output just one item per unique customer\n//return uniqueCustomers.map(cust => ({ json: cust }));\n\n\nreturn [{\n  success: false,\n  customerId: customerData[0].id,\n  email: customerData[0].email,\n  firstName: customerData[0].firstName,\n  lastName: customerData[0].lastName,\n  contactId: null,\n  tagAdded: false,\n  reason: 'Contact not found in FluentCRM',\n  timestamp: new Date().toISOString()\n}];\n\n"
      },
      "id": "536c582b-659f-4a49-86c8-f0822f6f1056",
      "name": "Log Contact Not Found",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "// Summary of the workflow execution\nconst allInputs = $input.all();\nconst successful = allInputs.filter(item => item.json.success === true).length;\nconst failed = allInputs.filter(item => item.json.success === false).length;\nconst targetDate = $('Calculate Target Date').item.json.targetDate;\n\nconsole.log('\\n📊 WORKFLOW EXECUTION SUMMARY');\nconsole.log('================================');\nconsole.log(`Target Date: ${targetDate}`);\nconsole.log(`Tags Successfully Added: ${successful}`);\nconsole.log(`Contacts Not Found: ${failed}`);\nconsole.log(`Total Processed: ${successful + failed}`);\nconsole.log('================================\\n');\n\nreturn [{\n  workflowSummary: {\n    targetDate: targetDate,\n    tagsAdded: successful,\n    contactsNotFound: failed,\n    totalProcessed: successful + failed,\n    executionTime: new Date().toISOString()\n  }\n}];"
      },
      "id": "a623ca21-eb81-46b6-b138-71e092e1d578",
      "name": "Workflow Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        48
      ]
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {}
          ]
        }
      },
      "id": "6b966dac-e98f-4673-b179-4c400d014a58",
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -976,
        -320
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "name",
              "value": "={{$json.bookings && $json.bookings.length > 0 ? $json.bookings[0].customer.firstName + ' ' + $json.bookings[0].customer.lastName : ''}}"
            },
            {
              "name": "service",
              "value": "={{$json.service ? $json.service.name : ''}}"
            },
            {
              "name": "email",
              "value": "={{$json.bookings && $json.bookings.length > 0 ? $json.bookings[0].customer.email : ''}}"
            },
            {
              "name": "user_id",
              "value": "={{$json.bookings && $json.bookings.length > 0 ? $json.bookings[0].customer.id.toString() : ''}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set Extracted Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -80,
        -320
      ],
      "id": "3a59586e-ecbf-4f10-979b-13b97f1f4063"
    },
    {
      "parameters": {
        "url": "=https://ronnieadamowicz.com/wp-admin/admin-ajax.php?action=wpamelia_api&call=/api/v1/appointments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "dates",
              "value": "={{ $('Calculate Target Date').item.json.targetDate.toDateTime().plus(1,'days') }}"
            },
            {
              "name": "customerId",
              "value": "={{ $json.user_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        -320
      ],
      "id": "16f65f40-a4a2-4417-9893-b53c7ae6a6e4",
      "name": "Check Future bookings"
    },
    {
      "parameters": {
        "jsCode": "const root = $input.first().json;\nconst apptsObj = root?.data?.appointments;\n\nif (!apptsObj || !Object.keys(apptsObj).length) return [];\n\nconst firstDateKey = Object.keys(apptsObj).sort()[0];\nconst day = apptsObj[firstDateKey];\nconst appointments = Array.isArray(day?.appointments) ? day.appointments : [];\n\nreturn appointments.map(a => ({ json: a }));\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        -320
      ],
      "id": "1a400bb7-bc59-404d-9547-9e1292c6f6f9",
      "name": "Flatten"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return JSON.parse($input.item.json.data)"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        -320
      ],
      "id": "1ab74c63-5ce7-4677-9043-3574decd4fb1",
      "name": "Parse Return JSON"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "4f74fc56-47cb-4280-932f-b904897dd09d",
              "leftValue": "={{ $json.data.appointments[Object.keys($json.data.appointments)[0]].appointments }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -992,
        128
      ],
      "id": "ab6e27b6-8604-4946-8a84-e90b5d2fefc8",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -768,
        272
      ],
      "id": "3d1f798f-f1e2-48ee-b41b-ff3c4ca40c99",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "url": "https://ronnieadamowicz.com/wp-json/fluent-crm/v2/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "per_page",
              "value": "50"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -528,
        -16
      ],
      "id": "bfd71cb1-e138-4018-9742-2a0dd8758c82",
      "name": "GET Tags"
    },
    {
      "parameters": {
        "fieldToSplitOut": "tags.data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -304,
        -16
      ],
      "id": "d01536f5-128e-41e2-9729-875dc0ef8b59",
      "name": "Split Out"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a2828040-0bcd-4853-9d75-0782a3781c9a",
              "leftValue": "={{ $json.title }}",
              "rightValue": "follow-up-4days",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -80,
        -16
      ],
      "id": "ad16b245-2a16-47b8-80f1-7af8d2f19cb6",
      "name": "Extract Follow Up 4days Tag"
    },
    {
      "parameters": {
        "content": "## Get Bookings 4 Days Ago ",
        "height": 384,
        "width": 1136,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1088,
        -496
      ],
      "id": "eb99348b-c287-4afe-9ddd-de400b1b15b8",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Get Future Bookings",
        "height": 384,
        "width": 528,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        80,
        -496
      ],
      "id": "4325f0b6-7215-43e6-81b3-ee42cafe5db4",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## If no future bookings\n",
        "height": 512,
        "width": 496
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1088,
        -96
      ],
      "id": "4e5e29cb-1118-4262-8fd8-535b6eb993e7",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Add Tag to Fluent CRM Contact",
        "height": 512,
        "width": 864,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -576,
        -96
      ],
      "id": "97fd06e0-5595-41ad-b999-aeceb2c2f856",
      "name": "Sticky Note3"
    }
  ],
  "connections": {
    "Calculate Target Date": {
      "main": [
        [
          {
            "node": "Get Bookings 4 Days Ago",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Bookings 4 Days Ago": {
      "main": [
        [
          {
            "node": "Flatten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find FluentCRM Contact": {
      "main": [
        [
          {
            "node": "GET Tags",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Contact Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add FluentCRM Tag": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Success": {
      "main": [
        [
          {
            "node": "Workflow Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Contact Not Found": {
      "main": [
        [
          {
            "node": "Workflow Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Calculate Target Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Extracted Fields1": {
      "main": [
        [
          {
            "node": "Check Future bookings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten": {
      "main": [
        [
          {
            "node": "Set Extracted Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Future bookings": {
      "main": [
        [
          {
            "node": "Parse Return JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Return JSON": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Find FluentCRM Contact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Tags": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Extract Follow Up 4days Tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Follow Up 4days Tag": {
      "main": [
        [
          {
            "node": "Add FluentCRM Tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Schedule Trigger1": [
      {
        "json": {}
      }
    ]
  },
  "versionId": "7f5a0590-1510-4bc1-9fff-59df5ce5f9eb",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-08-27T21:35:14.620Z",
      "updatedAt": "2025-08-27T21:35:14.620Z",
      "role": "workflow:owner",
      "workflowId": "TMG3zMBC2TjSRBz7",
      "projectId": "nZwUmEIL638ig6xE"
    }
  ],
  "tags": []
}