workflows/Backup_Workflows_To_Github.json
{"createdAt":"2025-05-28T23:55:41.084Z","updatedAt":"2025-05-29T17:26:04.000Z","id":"8fe5watbQxmC2dhL","name":"Backup Workflows To Github","active":true,"nodes":[{"parameters":{"returnAll":false,"filters":{"activeWorkflows":true,"tags":""},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-400,100],"id":"9ed13440-3d61-41bb-9ca1-828ff0099266","name":"n8n","credentials":{"n8nApi":{"id":"v9vxnDOn8eyJwvsI","name":"n8n account"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"adamhaley","mode":"name"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/adamhaley/n8n"},"filePath":"=workflows/{{ $json.name }}","fileContent":"={{ JSON.stringify($('n8n').item.json, null, 2)  }}","commitMessage":"=updating workflow \"{{ $json.name }}\"\""},"type":"n8n-nodes-base.github","typeVersion":1,"position":[900,180],"id":"04beb958-6b1a-4372-b3be-15e6e1bfb9d7","name":"GitHub","credentials":{"githubApi":{"id":"Jvt1VN8GL1z1M8pS","name":"GitHub account"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"adamhaley","mode":"name"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/adamhaley/n8n"},"filePath":"=workflows/{{ $('n8n').first().json.name.replace(/ /g,'_') }}.json","fileContent":"={{ JSON.stringify( $('n8n').first().json ) }}","commitMessage":"=creating backup file for workflow \"{{ $('n8n').first().json.name }}\"\"","additionalParameters":{"branch":{"branch":"main"}}},"type":"n8n-nodes-base.github","typeVersion":1,"position":[680,-20],"id":"977c417e-89ae-41e5-af3e-f89f24e07875","name":"Create File","credentials":{"githubApi":{"id":"Jvt1VN8GL1z1M8pS","name":"GitHub account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c1235fed-ae2f-4520-9158-2cf406bb2586","leftValue":"={{ $input.all().map(item => item.json.name) }}","rightValue":"={{ $('n8n').first().json.name.replace(/ /g,'_') }}.json","operator":{"type":"array","operation":"notContains","rightType":"any"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[360,100],"id":"8af2d74f-8c3e-49e2-89b9-65af17f90943","name":"If File Doesn't Exist"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"return { name: $json.name }"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-60,-180],"id":"3d80089f-1b3a-4901-9a18-871fdbea963b","name":"Code"},{"parameters":{"jsCode":"return $input.all().filter( (x) => {\n  return x.json.name === $('n8n').first().json.name.replace(/ /g,'_') + '.json';\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[680,180],"id":"abb2e5b4-968b-42d8-93c8-37e8019e2d53","name":"Code1"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-640,100],"id":"a65d415c-fba3-4765-a72f-518c0e9e2fde","name":"Schedule Trigger"},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"adamhaley","mode":"name"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/adamhaley/n8n"},"filePath":"workflows"},"type":"n8n-nodes-base.github","typeVersion":1,"position":[-180,100],"id":"b012b51e-7121-48f7-827b-050c14b25b92","name":"GitHub1","credentials":{"githubApi":{"id":"Jvt1VN8GL1z1M8pS","name":"GitHub account"}}}],"connections":{"n8n":{"main":[[{"node":"GitHub1","type":"main","index":0}]]},"If File Doesn't Exist":{"main":[[{"node":"Create File","type":"main","index":0}],[{"node":"Code1","type":"main","index":0}]]},"Code":{"main":[[]]},"Code1":{"main":[[{"node":"GitHub","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"n8n","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e630135d-d134-420a-89c7-453ed62c398e","triggerCount":1,"tags":[]}