workflows/Backup_Workflows_To_Github_(w_Workflow_IDs).json
{
  "createdAt": "2025-06-24T22:05:47.313Z",
  "updatedAt": "2025-06-24T22:05:47.000Z",
  "id": "WWJQ8onviIQ83TYd",
  "name": "Backup Workflows To Github (w/ Workflow IDs)",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1235fed-ae2f-4520-9158-2cf406bb2586",
              "leftValue": "={{ $('List Workflow Files on Github').all().map(item => item.json.name ) }}",
              "rightValue": "={{ $json.id + '.json' }}",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -440,
        100
      ],
      "id": "9a759a55-2b6a-43e0-a830-b87e14d73b1f",
      "name": "If File Exists"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "f4cdcac2-2b78-45aa-a9d3-1073ed02d0e2",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1100,
        100
      ],
      "id": "15dbb86b-396d-489b-9789-61648f4f309e",
      "name": "Run Daily"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "adamhaley",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://github.com/adamhaley/n8n"
        },
        "filePath": "workflows",
        "path": "c3d2020a-1829-48de-9b27-586ec18f72b7"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -880,
        100
      ],
      "id": "0df3cf23-863a-4d98-82a9-abde8218f5a6",
      "name": "List Workflow Files on Github",
      "executeOnce": true,
      "webhookId": "c3d2020a-1829-48de-9b27-586ec18f72b7",
      "credentials": {
        "githubApi": {
          "id": "Jvt1VN8GL1z1M8pS",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "adamhaley",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://github.com/adamhaley/n8n"
        },
        "filePath": "=workflows/{{ $json.id + '.json' }}",
        "additionalParameters": {},
        "path": "8dbae15e-6204-442f-92a6-181c172b3ae9"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -220,
        0
      ],
      "id": "a68ca595-a8f5-4229-a7c5-2936320ab7c2",
      "name": "Get The File",
      "executeOnce": false,
      "webhookId": "8dbae15e-6204-442f-92a6-181c172b3ae9",
      "credentials": {
        "githubApi": {
          "id": "Jvt1VN8GL1z1M8pS",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c9576a13-befb-4a51-85e2-7ee04cb3664f",
              "leftValue": "={{ JSON.stringify( $('Extract from File').item.json.data, null, 2 ) }}",
              "rightValue": "={{ JSON.stringify( $('n8n Get All Workflows').item.json, null, 2 ) }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        220,
        0
      ],
      "id": "4b2d4868-7382-465e-930f-870d8b3a079a",
      "name": "if n8n Workflow has Updates"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "adamhaley",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://github.com/adamhaley/n8n"
        },
        "filePath": "=workflows/{{ $('n8n Get All Workflows').item.json.id + '.json'}}",
        "fileContent": "={{ JSON.stringify( $('n8n Get All Workflows').first().json ) }}",
        "commitMessage": "=creating backup file for workflow \"{{ $('n8n Get All Workflows').first().json.name }}\"\"",
        "additionalParameters": {
          "branch": {
            "branch": "main"
          }
        },
        "path": "37fc2936-1af7-46f4-a230-bd01f32cae62"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -220,
        200
      ],
      "id": "38ede078-f45a-4923-8cbc-c1f1248fd99d",
      "name": "Create File on Github",
      "webhookId": "37fc2936-1af7-46f4-a230-bd01f32cae62",
      "credentials": {
        "githubApi": {
          "id": "Jvt1VN8GL1z1M8pS",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "adamhaley",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://github.com/adamhaley/n8n"
        },
        "filePath": "=workflows/{{ $json.data.id + '.json' }}",
        "fileContent": "={{ JSON.stringify( $('n8n Get All Workflows').item.json, null, 2 ) }}",
        "commitMessage": "=Updating n8n workflow \"{{ $('n8n Get All Workflows').item.json.name }} ({{ $json.data.id + '.json' }}) \"",
        "path": "df1e6936-b650-498b-952b-f0f0874c552c"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        440,
        0
      ],
      "id": "5d31c775-4271-4a4e-a643-accdeb53afc2",
      "name": "Update File on GIthub",
      "webhookId": "df1e6936-b650-498b-952b-f0f0874c552c",
      "credentials": {
        "githubApi": {
          "id": "Jvt1VN8GL1z1M8pS",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "filters": {
          "activeWorkflows": false,
          "tags": ""
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -660,
        100
      ],
      "id": "f10fcae0-2cd7-4396-87be-a12860330429",
      "name": "n8n Get All Workflows",
      "executeOnce": true,
      "credentials": {
        "n8nApi": {
          "id": "v9vxnDOn8eyJwvsI",
          "name": "n8n account"
        }
      }
    }
  ],
  "connections": {
    "If File Exists": {
      "main": [
        [
          {
            "node": "Get The File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create File on Github",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "if n8n Workflow has Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Daily": {
      "main": [
        [
          {
            "node": "List Workflow Files on Github",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Workflow Files on Github": {
      "main": [
        [
          {
            "node": "n8n Get All Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get The File": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if n8n Workflow has Updates": {
      "main": [
        [
          {
            "node": "Update File on GIthub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n Get All Workflows": {
      "main": [
        [
          {
            "node": "If File Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Run Daily": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "6fd865c8-02d1-4e93-bd1f-eadd760cfedf",
  "triggerCount": 1,
  "tags": []
}