workflows/BLS_Query.json
{
  "createdAt": "2025-10-09T19:18:47.583Z",
  "updatedAt": "2025-10-09T19:33:35.000Z",
  "id": "LoesarH4AaoKGL7C",
  "name": "BLS Query",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "4037902f-6dca-4e5c-a3bd-66ef0f6f956f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://api.bls.gov/publicAPI/v2/timeseries/popular",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "id": "3304aa73-39be-4a7c-8d7e-54378d9a4a4a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fieldToSplitOut": "Results.series",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "45a9d7dd-f6e2-4a8c-a696-9bc04d16bc1e",
      "name": "Split Out"
    },
    {
      "parameters": {
        "url": "=https://api.bls.gov/publicAPI/v2/timeseries/data/{{ $json.seriesID }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        624,
        0
      ],
      "id": "4972655f-a1d9-431f-88f4-5c0ced9a79d9",
      "name": "HTTP Request1"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "f9c879fe-9150-4f4d-a93b-5bae56ce7afe",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-10-09T19:18:47.589Z",
      "updatedAt": "2025-10-09T19:18:47.589Z",
      "role": "workflow:owner",
      "workflowId": "LoesarH4AaoKGL7C",
      "projectId": "nZwUmEIL638ig6xE"
    }
  ],
  "tags": []
}