workflows/Chad_Core.json
{
  "createdAt": "2025-08-23T03:50:42.886Z",
  "updatedAt": "2025-08-23T03:50:52.000Z",
  "id": "pWASqL0eKFmrnEoB",
  "name": "Chad Core",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "sessionId"
            },
            {
              "name": "message"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        64,
        160
      ],
      "id": "9e45b256-ce3a-45b8-8467-794b313e741f",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        288,
        384
      ],
      "id": "7293e9ff-36ac-434b-884b-c7eb761025ad",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "You are a helpful assistant. You have tools available from the MCP Client."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        320,
        160
      ],
      "id": "797d0866-aa65-43b5-9368-7b3dd5d78fef",
      "name": "CHAD AI Agent"
    },
    {
      "parameters": {
        "sseEndpoint": "https://n8n-dev-td3g.onrender.com/mcp/0f3c9576-55b2-4cdc-b1c9-be8e5da78560",
        "authentication": "headerAuth"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        544,
        384
      ],
      "id": "f08119ab-03b5-4636-a64f-d676beaae30b",
      "name": "MCP Client"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        416,
        384
      ],
      "id": "91c13fb7-f209-43bd-b328-653f92645eb6",
      "name": "Memory"
    },
    {
      "parameters": {
        "content": "## AI Agent Core",
        "height": 544,
        "width": 736,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "bbca1d28-702d-4d01-8931-939043acbaef",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "CHAD AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "CHAD AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "CHAD AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "CHAD AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "sessionId": null,
          "message": "Tell me what tools are available to you from the MCP Client."
        }
      }
    ]
  },
  "versionId": "f48c9e63-ea0e-474b-b121-c8a9619bf502",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-08-23T03:50:42.896Z",
      "updatedAt": "2025-08-23T03:50:42.896Z",
      "role": "workflow:owner",
      "workflowId": "pWASqL0eKFmrnEoB",
      "projectId": "nZwUmEIL638ig6xE"
    }
  ],
  "tags": []
}