workflows/Create Invoice For RonnieAdamowicz.com.json
{
  "name": "Create Invoice For RonnieAdamowicz.com",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 9
            }
          ]
        }
      },
      "name": "Cron Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -2800,
        288
      ],
      "id": "ed75ca83-ee90-4fc3-92ca-9aeebe0ddc61"
    },
    {
      "parameters": {
        "functionCode": "const discounts = {\n  \"Marc Torrisi\": 30,\n  \"Qualin Critch\": 50,\n  \"Shane Bentley\": 26,\n  \"Jo Sharpe\": 26,\n  \"Qualin Gritch\": 26,\n  \"Cheryl Solomon\": 26  \n};\n\nreturn items.map(item => {\n  const fullName = `${item.json.firstName} ${item.json.lastName}`;\n  const basePrice = item.json.booking_price ?? item.json.service_price ?? 0;\n  const discount = discounts[fullName] || 0;\n  const finalPrice = Math.max(basePrice - discount, 0);\n\n  item.json.finalPrice = finalPrice;\n  item.json.discount = discount;\n  return item;\n});"
      },
      "name": "Apply Discounts & Final Price",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -1680,
        288
      ],
      "id": "5c42f92b-576e-45b7-86ec-d48f6f319ac9"
    },
    {
      "parameters": {
        "url": "https://api.stripe.com/v1/customers",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $json.email }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2800,
        640
      ],
      "id": "a56d3545-3f24-498b-9b0a-9f1d3823b0b1",
      "name": "Get Stripe Customer",
      "executeOnce": false,
      "credentials": {
        "httpBasicAuth": {
          "id": "U8fq6tIf3iL5jUUD",
          "name": "WP Amelia Basic Auth"
        },
        "httpHeaderAuth": {
          "id": "SjkelfdI6yrpdaNO",
          "name": "Header Auth Stripe API"
        },
        "httpBearerAuth": {
          "id": "3GVkVoB6durMxexf",
          "name": "Bearer Auth Stripe API Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "https://ronnieadamowicz.com/wp-admin/admin-ajax.php?action=wpamelia_api&call=/api/v1/appointments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "dates",
              "value": "={{ $now.format('y-MM-dd') }},{{ $now.format('y-MM-dd') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2576,
        288
      ],
      "id": "4f8c04a8-351c-4010-a16a-14cde10dc347",
      "name": "Get Todays Bookings",
      "credentials": {
        "httpHeaderAuth": {
          "id": "3lWuuVkaxZMIqCyJ",
          "name": "Header Auth Amelia API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return JSON.parse( $input.first().json.data );"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2352,
        288
      ],
      "id": "690491f7-e4b9-49cc-8706-e5d053a95d07",
      "name": "Parse"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8bb3a713-18bc-462f-94ab-3a5ac8259809",
              "name": "booking_id",
              "value": "={{ $json.bookings[0].id }}",
              "type": "string"
            },
            {
              "id": "b2dba125-a90a-4ac3-bc4b-dc8b65b59508",
              "name": "customerId",
              "value": "={{ $json.bookings[0].customer.id }}",
              "type": "string"
            },
            {
              "id": "c093a6ca-1445-47ea-a65d-dacd280c0076",
              "name": "email",
              "value": "={{ $json.bookings[0].customer.email }}",
              "type": "string"
            },
            {
              "id": "e9c03b8a-c84d-4b3f-8306-4a734962fdfc",
              "name": "firstName",
              "value": "={{ $json.bookings[0].customer.firstName }}",
              "type": "string"
            },
            {
              "id": "008cf26b-41dd-483c-85b9-48ec991b2afd",
              "name": "lastName",
              "value": "={{ $json.bookings[0].customer.lastName }}",
              "type": "string"
            },
            {
              "id": "82ebf150-b1f7-469e-873a-3984f07b6d9b",
              "name": "bookingStart",
              "value": "={{ $json.bookingStart }}",
              "type": "string"
            },
            {
              "id": "6a6e9500-6026-42f6-a2c5-53a257414981",
              "name": "service_id",
              "value": "={{ $json.serviceId }}",
              "type": "string"
            },
            {
              "id": "9c5b47ee-8e2c-4434-8ca0-49f04b2627ff",
              "name": "service_name",
              "value": "={{ $json.service.name }}",
              "type": "string"
            },
            {
              "id": "20829e43-b5e7-405c-ba10-d860c1b6751d",
              "name": "service_price",
              "value": "={{ $json.service.price }}",
              "type": "string"
            },
            {
              "id": "1e7e2cd2-238e-4638-a28d-c6e511fc3dad",
              "name": "booking_price",
              "value": "={{ $json.service.price }}",
              "type": "string"
            },
            {
              "id": "aed4c695-f952-4dbb-a38e-05d8ac3067d1",
              "name": "payment_status",
              "value": "={{ $json.bookings[0].payments[0].status }}",
              "type": "string"
            },
            {
              "id": "7baa19ee-9f36-419e-a279-098df94b86ac",
              "name": "appointment_status",
              "value": "={{ $json.bookings[0].status }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1904,
        288
      ],
      "id": "ac35c866-d7a6-41a5-b097-d38469882eb3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "content": "## Get Todays Bookings\n-9:00am schedule trigger\n-Get all of today's bookings",
        "height": 224,
        "width": 464
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2880,
        48
      ],
      "id": "d7d81ab4-390b-4a78-9501-b15db78d17f7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Format customer Booking Data\n\n- parse JSON\n- Flatten array\n- [Set]-extract customer object\n- Apply Discounts\n- add searchName\n- Filter out service_id=2 && Not Paid && Canceled",
        "height": 464,
        "width": 1424,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2400,
        48
      ],
      "id": "03a8c1cc-b1e2-4887-88d0-d0d1a8df1f5e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1200,
        848
      ],
      "id": "9e73fb59-c63d-4da4-acd6-e67e08316f04",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.stripe.com/v1/invoices",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "customer",
              "value": "={{ $json.customer }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -896,
        576
      ],
      "id": "9e002c2e-61b6-47d7-9508-57becb272a86",
      "name": "Create Stripe Invoice",
      "credentials": {
        "httpHeaderAuth": {
          "id": "SjkelfdI6yrpdaNO",
          "name": "Header Auth Stripe API"
        },
        "httpBearerAuth": {
          "id": "3GVkVoB6durMxexf",
          "name": "Bearer Auth Stripe API Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.stripe.com/v1/invoiceitems",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "customer",
              "value": "={{ $json.customer }}"
            },
            {
              "name": "amount",
              "value": "={{ $json.amount }}"
            },
            {
              "name": "currency",
              "value": "={{ $json.currency }}"
            },
            {
              "name": "description",
              "value": "={{ $json.description }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1200,
        544
      ],
      "id": "46d8d6d3-9ee2-4413-888e-af5f806fe6c7",
      "name": "Stripe Invoice Items",
      "credentials": {
        "httpHeaderAuth": {
          "id": "SjkelfdI6yrpdaNO",
          "name": "Header Auth Stripe API"
        },
        "httpBearerAuth": {
          "id": "3GVkVoB6durMxexf",
          "name": "Bearer Auth Stripe API Auth"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  customer:$json.data[0].id,\n  amount: Math.floor($('Filter Service_id != 2 and Not Paid and Not Cancelled').item.json.finalPrice * 100),\n  currency: 'aud',\n  description: $('Map Stripe Emails / add searchName').item.json.service_name + ' on ' + $('Map Stripe Emails / add searchName').item.json.bookingStart\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1440,
        544
      ],
      "id": "13269bf9-b620-48b9-8707-46fac2b4368b",
      "name": "Map Line Item Data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f4ebe7e7-a0e0-40dc-b663-615a9c776284",
              "leftValue": "={{ $json.service_id }}",
              "rightValue": "2",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "425e9144-73d6-4c94-8caf-78aea5c0b751",
              "leftValue": "={{ $json.payment_status }}",
              "rightValue": "paid",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "f2a2b078-11e2-41f0-8027-a3d043e3bf5f",
              "leftValue": "={{ $json.appointment_status }}",
              "rightValue": "canceled",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1200,
        288
      ],
      "id": "ebf897ef-2b66-4f33-91d0-8ae78767bcd5",
      "name": "Filter Service_id != 2 and Not Paid and Not Cancelled"
    },
    {
      "parameters": {
        "jsCode": "const root = $input.first().json.data;\nconst apptsObj = root?.appointments;\n\n\nif (!apptsObj || !Object.keys(apptsObj).length) return [];\n\nconst firstDateKey = Object.keys(apptsObj).sort()[0];\nconst day = apptsObj[firstDateKey];\nconst appointments = Array.isArray(day?.appointments) ? day.appointments : [];\n\n\nreturn appointments.map(a => ({ json: a }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2128,
        288
      ],
      "id": "e955cb9e-cea1-442d-b62b-efcef9591167",
      "name": "Flatten"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "//adjust emails for those who have different lookup email in Stripe\n// Map of Amelia email -> Stripe email\nlet emailMap = {\n  \"critch.q@gmail.com\": \"invoices@myintegra.com.au\",      // Qualin Critch\n  \"manofgod8766@gmail.com\": \"invoices@ndsp.com.au\",       // Shane Bentley\n  \"dohertyjarod@gmail.com\": \"shimonaf@spotlight.com.au\",  // Jarod Doherty\n  \"joanne.sharpe@ozemail.com.au\": \"ndispayments@adec.org.au\" // Joanne Sharpe\n\n};\n\nlet email = $json.email;\nif (emailMap[$json.email]) {\n  $json.originalEmail = $json.email; // keep original for reference\n  $json.email = emailMap[$json.email];\n}\n\n\n$json.searchName = ($json.firstName + ' ' + $json.lastName).toLowerCase();\n\n\nreturn $json;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1440,
        288
      ],
      "id": "790be800-38e7-4e6f-9d30-18d7eb7c9514",
      "name": "Map Stripe Emails / add searchName"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -2352,
        544
      ],
      "id": "b571c18c-e60e-404a-8043-cee5a778fc25",
      "name": "Split Out"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "31972656-01af-41f5-8986-516e942bcb75",
              "leftValue": "={{ $json.default_source }}",
              "rightValue": "src_",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -2128,
        544
      ],
      "id": "5936d281-2f99-4199-a1ab-ed9a85ef813d",
      "name": "Filter Only With Payment Method"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a200b53a-b743-411d-b416-53bf40255e7a",
              "name": "data",
              "value": "={{[$json]}}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1920,
        544
      ],
      "id": "d51f6c90-d81e-44ff-a6ea-cc684f759392",
      "name": "Add data key"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "array",
                      "operation": "lengthGt",
                      "rightType": "number"
                    },
                    "id": "89de3963-97ca-4de4-adc1-3243167e99fa"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "stripe_record_exists"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2b7e418d-5972-4af3-9da3-0dadffb6de6e",
                    "leftValue": "={{ $json.data }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "array",
                      "operation": "lengthLt",
                      "rightType": "number"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "stripe_record_does_not_exist"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1680,
        592
      ],
      "id": "4ba55288-7a7c-4309-b588-be2e1c2ca520",
      "name": "Discard Non Existent Records"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## Multiple Stripe Records found\n- If found multiple Customer Accts, filter by the one with a payment method\n",
        "height": 464,
        "width": 1104,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2640,
        528
      ],
      "id": "d1f268c0-b8e1-42c6-9b5a-4ad6409da2c9",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e3770025-2fb8-4930-a351-19cbe7986535",
              "leftValue": "={{ $json.data }}",
              "rightValue": 1,
              "operator": {
                "type": "array",
                "operation": "lengthGt",
                "rightType": "number"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2592,
        640
      ],
      "id": "e208f7be-0180-4d60-8ece-63b893fab39c",
      "name": "If Multiple Records"
    }
  ],
  "pinData": {
    "Cron Trigger": [
      {
        "json": {}
      }
    ]
  },
  "connections": {
    "Cron Trigger": {
      "main": [
        [
          {
            "node": "Get Todays Bookings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Discounts & Final Price": {
      "main": [
        [
          {
            "node": "Map Stripe Emails / add searchName",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Stripe Customer": {
      "main": [
        [
          {
            "node": "If Multiple Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Todays Bookings": {
      "main": [
        [
          {
            "node": "Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse": {
      "main": [
        [
          {
            "node": "Flatten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Apply Discounts & Final Price",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Stripe Invoice": {
      "main": [
        []
      ]
    },
    "Stripe Invoice Items": {
      "main": [
        [
          {
            "node": "Create Stripe Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Line Item Data": {
      "main": [
        [
          {
            "node": "Stripe Invoice Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Service_id != 2 and Not Paid and Not Cancelled": {
      "main": [
        [
          {
            "node": "Get Stripe Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Stripe Emails / add searchName": {
      "main": [
        [
          {
            "node": "Filter Service_id != 2 and Not Paid and Not Cancelled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Filter Only With Payment Method",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Only With Payment Method": {
      "main": [
        [
          {
            "node": "Add data key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add data key": {
      "main": [
        [
          {
            "node": "Discard Non Existent Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discard Non Existent Records": {
      "main": [
        [
          {
            "node": "Map Line Item Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Multiple Records": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Discard Non Existent Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Australia/Sydney",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "08844b93-f695-4264-9942-6eed5b14eeb7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "573c9b4765088426ec02300020b44228e2ae1e75177bd73e7f7ebc50e1674b7a"
  },
  "id": "TInNs7gyNixZtR7M",
  "tags": []
}