workflows/DS24_Booksales_to_Katrin_Sheet.json
{
  "createdAt": "2025-07-21T01:05:57.801Z",
  "updatedAt": "2025-08-03T00:10:23.000Z",
  "id": "3x211AYx7OOXT2A9",
  "name": "DS24 Booksales to Katrin Sheet",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1CjimHlsXSjtOoxUjn_a_u45Y6xgEqbVn3aHq8wXq6NE",
          "mode": "list",
          "cachedResultName": "Katrin Buchkäufer mit Telefon bis 10.8.2024",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CjimHlsXSjtOoxUjn_a_u45Y6xgEqbVn3aHq8wXq6NE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1696979597,
          "mode": "list",
          "cachedResultName": "export (1)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CjimHlsXSjtOoxUjn_a_u45Y6xgEqbVn3aHq8wXq6NE/edit#gid=1696979597"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Datum": "={{ $now.format('yyyy-MM-dd') }}",
            "Zeit": "={{ $now.format('HH:mm') }}",
            "Produkt": "={{ $json.body.product_name }}",
            "Anrede": "={{ $json.body.salutation }}",
            "Nachname": "={{ $json.body.last_name }}",
            "Vorname": "={{ $json.body.first_name }}",
            "E-Mail": "={{ $json.body.email }}",
            "Telefonnr.": "='+{{ $json.body.phone_no }}",
            "Land": "={{ $json.body.country_name }}",
            "Adresse": "={{ $json.body.street }}{{ $json.body.city }},{{ $json.body.state }}{{ $json.body.zipcode }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Datum",
              "displayName": "Datum",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Zeit",
              "displayName": "Zeit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Produkt",
              "displayName": "Produkt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Anrede",
              "displayName": "Anrede",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nachname",
              "displayName": "Nachname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Vorname",
              "displayName": "Vorname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "E-Mail",
              "displayName": "E-Mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefonnr.",
              "displayName": "Telefonnr.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Land",
              "displayName": "Land",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Katrin Anmerkung",
              "displayName": "Katrin Anmerkung",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Adresse",
              "displayName": "Adresse",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "4,95",
              "displayName": "4,95",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "6,95",
              "displayName": "6,95",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        128,
        -16
      ],
      "id": "bd749da2-2e7a-4860-be8d-0d804462d4c5",
      "name": "Add Row to Google Sheet"
    },
    {
      "parameters": {
        "resource": "person",
        "name": "={{ $json.Vorname }} {{ $json.Nachname }} {{ $json.Adresse }}{{ $json.Land }} {{ $json.Datum }}",
        "additionalFields": {
          "email": [
            "={{ $json[\"E-Mail\"] }} "
          ],
          "phone": [
            "={{ $json[\"Telefonnr.\"] }} "
          ]
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        576,
        -16
      ],
      "id": "f512d0e1-8ec3-4715-8514-92f096fd91eb",
      "name": "Create a person"
    },
    {
      "parameters": {
        "resource": "note",
        "content": "={{ $json.name }} {{ $json.phones }} {{ $json.emails }} {{ $('Code').item.json.Adresse  }}{{ $('Code').item.json.Land }}",
        "additionalFields": {
          "person_id": "={{ $json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1024,
        -16
      ],
      "id": "96dc3af0-be24-4479-8b9e-a84ffc016036",
      "name": "Create a note"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "4bc1401c-29df-48a8-9a53-824d29fa21d7",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -96,
        -16
      ],
      "id": "9c450838-d9fd-4728-ac03-e8160102f3b4",
      "name": "Digistore On Order",
      "webhookId": "4bc1401c-29df-48a8-9a53-824d29fa21d7"
    },
    {
      "parameters": {
        "resource": "person",
        "operation": "search",
        "term": "={{ $json.email[0].value }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        800,
        -16
      ],
      "id": "2f449aa7-d308-43ba-b127-9fb856524820",
      "name": "Search a person"
    },
    {
      "parameters": {
        "content": "## DS24 Booksales -> Katrin sheet\n- Triggers on a Digistore sale\n- Logs order details (name, email, phone, address, etc.) to a Google Sheet used by the team\n- Creates a person in Pipedrive, and attaches a custom note to their profile with full contact info",
        "height": 272,
        "width": 1344,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -176,
        -416
      ],
      "id": "ce8108dc-c047-4e3a-a159-32f16983e99c",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "jsCode": "const inputData = items[0].json;\n\nconst cleanedData = Object.fromEntries(\n  Object.entries(inputData).map(([key, value]) => {\n    const cleanedValue = typeof value === 'string' && value.trim().replace(/,/g, '') === '' \n      ? 'N/A' \n      : value;\n    return [key, cleanedValue];\n  })\n);\n\nreturn [{ json: cleanedData }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        -16
      ],
      "id": "48d69f21-45a2-4ec7-945a-91b133ea1ac1",
      "name": "Code"
    },
    {
      "parameters": {
        "content": "## Pre-process\nMake sure data values aren't empty",
        "height": 336,
        "width": 208,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        304,
        -128
      ],
      "id": "2cef4a45-f6c6-45b5-83a1-262b847f61d0",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Pipedrive - add person and create note",
        "height": 336,
        "width": 640
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        528,
        -128
      ],
      "id": "f16f1bca-4ae5-4119-8d58-4e4568c6fc51",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Digistore - order received\n",
        "height": 336,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -176,
        -128
      ],
      "id": "f0e4d808-cc2b-443f-bc4e-57610a628825",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Append Row in Google Sheet",
        "height": 336,
        "width": 208,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        80,
        -128
      ],
      "id": "a517cc96-72b8-49f3-9303-43de5f32cb59",
      "name": "Sticky Note7"
    }
  ],
  "connections": {
    "Add Row to Google Sheet": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a person": {
      "main": [
        [
          {
            "node": "Search a person",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Digistore On Order": {
      "main": [
        [
          {
            "node": "Add Row to Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search a person": {
      "main": [
        [
          {
            "node": "Create a note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Create a person",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "gWILjCr3MnTftlFz"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Digistore On Order": [
      {
        "json": {
          "headers": {
            "host": "n8n.megyk.com",
            "user-agent": "DigiStore-API/1.0 (Linux; en-US; rv:1.0.0.0) php/20130430 curl/20130430",
            "content-length": "357",
            "accept": "*/*",
            "accept-charset": "utf-8",
            "accept-encoding": "deflate, gzip, br, zstd",
            "cache-control": "no-cache",
            "content-type": "application/x-www-form-urlencoded; charset=utf-8",
            "traceparent": "00-ccfa4ec6c86b14a86eb7ce2816d1443a-deddfd67343fac93-01",
            "tracestate": "es=s:1",
            "via": "2.0 Caddy",
            "x-forwarded-for": "35.203.70.73",
            "x-forwarded-host": "n8n.megyk.com",
            "x-forwarded-proto": "https"
          },
          "params": {},
          "query": {},
          "body": {
            "email": "test@test.com",
            "first_name": "TEST",
            "last_name": "TEST",
            "title": "",
            "salutation": "",
            "company": "",
            "street": "12345 ANywhere Ln.",
            "city": "Los Angeles",
            "zipcode": "91602",
            "state": "CA",
            "country_code": "USA",
            "country_name": "",
            "phone_no": "(323)384-3493",
            "order_id": "",
            "transaction_id": "",
            "product_name": "",
            "product_name_intern": "",
            "product_id": "",
            "quantity": "",
            "receipt_url": "",
            "invoice_url": "",
            "eticket_url": "",
            "custom": "",
            "tags": "",
            "event": "",
            "amount_brutto": "",
            "amount_netto": "",
            "amount_vendor": "",
            "amount_affiliate": "",
            "currency": "",
            "is_gdpr_country": ""
          },
          "webhookUrl": "https://n8n.megyk.com/webhook-test/4bc1401c-29df-48a8-9a53-824d29fa21d7",
          "executionMode": "test"
        }
      }
    ]
  },
  "versionId": "1f645fad-e4a5-4775-9229-f6d4021a4243",
  "triggerCount": 0,
  "tags": []
}