workflows/DS24_Booksales_->_Katrin_sheet_Backup.json
{
  "createdAt": "2025-08-04T16:15:17.348Z",
  "updatedAt": "2025-08-04T16:15:17.000Z",
  "id": "dnhHkjTlyWyEogMx",
  "name": "DS24 Booksales -> Katrin sheet Backup",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1CjimHlsXSjtOoxUjn_a_u45Y6xgEqbVn3aHq8wXq6NE",
          "mode": "list",
          "cachedResultName": "Katrin Buchkäufer mit Telefon bis 10.8.2024",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CjimHlsXSjtOoxUjn_a_u45Y6xgEqbVn3aHq8wXq6NE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1696979597,
          "mode": "list",
          "cachedResultName": "export (1)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CjimHlsXSjtOoxUjn_a_u45Y6xgEqbVn3aHq8wXq6NE/edit#gid=1696979597"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Datum": "={{ $now.format('yyyy-MM-dd') }}",
            "Zeit": "={{ $now.format('HH:mm') }}",
            "Produkt": "={{ $json.body.product_name }}",
            "Anrede": "={{ $json.body.salutation }}",
            "Nachname": "={{ $json.body.last_name }}",
            "Vorname": "={{ $json.body.first_name }}",
            "E-Mail": "={{ $json.body.email }}",
            "Telefonnr.": "='+{{ $json.body.phone_no }}",
            "Land": "={{ $json.body.country_name }}",
            "Adresse": "={{ $json.body.street }}{{ $json.body.city }},{{ $json.body.state }}{{ $json.body.zipcode }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Datum",
              "displayName": "Datum",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Zeit",
              "displayName": "Zeit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Produkt",
              "displayName": "Produkt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Anrede",
              "displayName": "Anrede",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nachname",
              "displayName": "Nachname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Vorname",
              "displayName": "Vorname",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "E-Mail",
              "displayName": "E-Mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefonnr.",
              "displayName": "Telefonnr.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Land",
              "displayName": "Land",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Katrin Anmerkung",
              "displayName": "Katrin Anmerkung",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Adresse",
              "displayName": "Adresse",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "4,95",
              "displayName": "4,95",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "6,95",
              "displayName": "6,95",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        304,
        400
      ],
      "id": "f90aff53-ab30-4163-9dcf-109946491b34",
      "name": "Add Row to Google Sheet"
    },
    {
      "parameters": {
        "resource": "person",
        "name": "={{ $json.Vorname }} {{ $json.Nachname }} {{ $json.Adresse }}{{ $json.Land }} {{ $json.Datum }}",
        "additionalFields": {
          "email": [
            "={{ $json[\"E-Mail\"] }} "
          ],
          "phone": [
            "={{ $json[\"Telefonnr.\"] }} "
          ]
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        752,
        400
      ],
      "id": "0523e9b2-2043-4730-a37b-a03b526641fe",
      "name": "Create a person"
    },
    {
      "parameters": {
        "resource": "note",
        "content": "={{ $json.name }} {{ $json.phones }} {{ $json.emails }} {{ $('Code').item.json.Adresse  }}{{ $('Code').item.json.Land }}",
        "additionalFields": {
          "person_id": "={{ $json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1200,
        400
      ],
      "id": "5df3ba7b-28b2-4915-80a6-09c649994067",
      "name": "Create a note"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "3a829abf-76f5-40f6-a1db-262789261b24",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        80,
        400
      ],
      "id": "852695b5-e413-472f-9404-59b36a6aad84",
      "name": "Digistore On Order",
      "webhookId": "3a829abf-76f5-40f6-a1db-262789261b24"
    },
    {
      "parameters": {
        "resource": "person",
        "operation": "search",
        "term": "={{ $json.email[0].value }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        976,
        400
      ],
      "id": "626ef904-939d-41e6-afc0-cf7d0b49c84b",
      "name": "Search a person"
    },
    {
      "parameters": {
        "content": "## Pipedrive - add person and create note",
        "height": 336,
        "width": 640
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        704,
        288
      ],
      "id": "684983ed-3a59-44f4-b925-a6f0bef7c7d8",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Digistore - order received\n",
        "height": 336,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        288
      ],
      "id": "52866ae2-f653-4eba-ae51-10ff9d56a4ce",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Append Row in Google Sheet",
        "height": 336,
        "width": 208,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        256,
        288
      ],
      "id": "189ddf58-f6a6-4641-9ec3-de86d533ddfc",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## DS24 Booksales -> Katrin sheet\n- Triggers on a Digistore sale\n- Logs order details (name, email, phone, address, etc.) to a Google Sheet used by the team\n- Creates a person in Pipedrive, and attaches a custom note to their profile with full contact info",
        "height": 272,
        "width": 1344,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "5983d4a3-1f70-4efa-a748-ad355b29618e",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "jsCode": "const inputData = items[0].json;\n\nconst cleanedData = Object.fromEntries(\n  Object.entries(inputData).map(([key, value]) => {\n    const cleanedValue = typeof value === 'string' && value.trim().replace(/,/g, '') === '' \n      ? 'N/A' \n      : value;\n    return [key, cleanedValue];\n  })\n);\n\nreturn [{ json: cleanedData }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        400
      ],
      "id": "cd43daba-6734-49da-987b-860194d05538",
      "name": "Code"
    },
    {
      "parameters": {
        "content": "## Pre-process\nMake sure data values aren't empty",
        "height": 336,
        "width": 208,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        480,
        288
      ],
      "id": "8bc0e95b-cc7c-4e83-8cba-04cff492a36d",
      "name": "Sticky Note4"
    }
  ],
  "connections": {
    "Add Row to Google Sheet": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a person": {
      "main": [
        [
          {
            "node": "Search a person",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Digistore On Order": {
      "main": [
        [
          {
            "node": "Add Row to Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search a person": {
      "main": [
        [
          {
            "node": "Create a note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Create a person",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Digistore On Order": [
      {
        "json": {
          "headers": {
            "host": "n8n.megyk.com",
            "user-agent": "DigiStore-API/1.0 (Linux; en-US; rv:1.0.0.0) php/20130430 curl/20130430",
            "content-length": "357",
            "accept": "*/*",
            "accept-charset": "utf-8",
            "accept-encoding": "deflate, gzip, br, zstd",
            "cache-control": "no-cache",
            "content-type": "application/x-www-form-urlencoded; charset=utf-8",
            "traceparent": "00-ccfa4ec6c86b14a86eb7ce2816d1443a-deddfd67343fac93-01",
            "tracestate": "es=s:1",
            "via": "2.0 Caddy",
            "x-forwarded-for": "35.203.70.73",
            "x-forwarded-host": "n8n.megyk.com",
            "x-forwarded-proto": "https"
          },
          "params": {},
          "query": {},
          "body": {
            "email": "test@test.com",
            "first_name": "TEST",
            "last_name": "TEST",
            "title": "",
            "salutation": "",
            "company": "",
            "street": "12345 ANywhere Ln.",
            "city": "Los Angeles",
            "zipcode": "91602",
            "state": "CA",
            "country_code": "USA",
            "country_name": "",
            "phone_no": "(323)384-3493",
            "order_id": "",
            "transaction_id": "",
            "product_name": "",
            "product_name_intern": "",
            "product_id": "",
            "quantity": "",
            "receipt_url": "",
            "invoice_url": "",
            "eticket_url": "",
            "custom": "",
            "tags": "",
            "event": "",
            "amount_brutto": "",
            "amount_netto": "",
            "amount_vendor": "",
            "amount_affiliate": "",
            "currency": "",
            "is_gdpr_country": ""
          },
          "webhookUrl": "https://n8n.megyk.com/webhook-test/4bc1401c-29df-48a8-9a53-824d29fa21d7",
          "executionMode": "test"
        }
      }
    ]
  },
  "versionId": "9f077d20-e88f-4c34-8b5b-a5ab640f5410",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-08-04T16:15:17.354Z",
      "updatedAt": "2025-08-04T16:15:17.354Z",
      "role": "workflow:owner",
      "workflowId": "dnhHkjTlyWyEogMx",
      "projectId": "nZwUmEIL638ig6xE"
    }
  ],
  "tags": []
}