workflows/Error_Handling_Markus_Longdragon.json
{
  "createdAt": "2025-07-22T21:42:32.921Z",
  "updatedAt": "2025-08-03T00:10:28.000Z",
  "id": "gWILjCr3MnTftlFz",
  "name": "Error Handling Markus Longdragon",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "3ecd0ac7-91ad-4ee4-8d78-bb0be4985961",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "11oXYJaKNuz-phQzMrorTl6-NKmspRoYfp3bAJFk3zrQ",
          "mode": "list",
          "cachedResultName": "n8n Errors",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11oXYJaKNuz-phQzMrorTl6-NKmspRoYfp3bAJFk3zrQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11oXYJaKNuz-phQzMrorTl6-NKmspRoYfp3bAJFk3zrQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow name": "={{ $json.workflow.name }}",
            "workflow id": "={{ $json.workflow.id }}",
            "execution": "={{ $json.execution.url }}",
            "node": "={{ $json.execution.lastNodeExecuted }}",
            "stacktrace": "={{ $json.execution.error.stack }}",
            "message": "={{ $json.execution.error.message }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "workflow name",
              "displayName": "workflow name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "workflow id",
              "displayName": "workflow id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "execution",
              "displayName": "execution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "stacktrace",
              "displayName": "stacktrace",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "node",
              "displayName": "node",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        220,
        0
      ],
      "id": "735ada33-0a68-4d15-a521-943c3f595f5e",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dFntNaEYJAOsYZIZ",
          "name": "adamhaley@gmail Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C08NT6423SN",
          "mode": "list",
          "cachedResultName": "notifications"
        },
        "text": "=n8n Workflow Error:  {{ $json.message }} see details and debug at: {{ $json.execution }}",
        "otherOptions": {},
        "path": "97dd04ad-99db-4556-9fda-489f65a795a1"
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        440,
        0
      ],
      "id": "be28be3b-19c2-4575-959f-302bedf0bdc9",
      "name": "Send a message",
      "webhookId": "97dd04ad-99db-4556-9fda-489f65a795a1",
      "credentials": {
        "slackOAuth2Api": {
          "id": "aku9PHR5ccUxQYCi",
          "name": "Slack account"
        }
      }
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "9bbad7b7-25a3-4532-b839-ad3af0abf336",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-07-22T21:42:32.926Z",
      "updatedAt": "2025-07-22T21:42:32.926Z",
      "role": "workflow:owner",
      "workflowId": "gWILjCr3MnTftlFz",
      "projectId": "nZwUmEIL638ig6xE"
    }
  ],
  "tags": []
}