workflows/Get_Next_Job.json
{
  "createdAt": "2025-06-10T18:48:07.541Z",
  "updatedAt": "2025-06-16T02:25:45.000Z",
  "id": "OWb7puyydhH3FZ2M",
  "name": "Get Next Job",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1lIXsn_2zLAftSx9QmOHEQXa3Lb0EmL89Jp79ooQDzUE",
          "mode": "list",
          "cachedResultName": "Job Postings",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lIXsn_2zLAftSx9QmOHEQXa3Lb0EmL89Jp79ooQDzUE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "viewed"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        0,
        0
      ],
      "id": "1ded9b86-3ec4-4ca6-8d39-677c2d8c2f0e",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dFntNaEYJAOsYZIZ",
          "name": "adamhaley@gmail Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nreturn $input.first();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "7d3454f5-c4e2-4992-b635-73eb716f6dfa",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1lIXsn_2zLAftSx9QmOHEQXa3Lb0EmL89Jp79ooQDzUE",
          "mode": "list",
          "cachedResultName": "Job Postings",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lIXsn_2zLAftSx9QmOHEQXa3Lb0EmL89Jp79ooQDzUE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lIXsn_2zLAftSx9QmOHEQXa3Lb0EmL89Jp79ooQDzUE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $json.date }}",
            "url": "={{ $json.url }}",
            "body": "={{ $json.body }}",
            "viewed": "=1",
            "applied": "={{ $json.applied }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "body",
              "displayName": "body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "viewed",
              "displayName": "viewed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "applied",
              "displayName": "applied",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        440,
        0
      ],
      "id": "da94435b-09d9-47eb-b147-10763484ecba",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dFntNaEYJAOsYZIZ",
          "name": "adamhaley@gmail Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -180,
        0
      ],
      "id": "c4f9ea1f-2bdb-4e4e-8cfe-fab02e3374ec",
      "name": "When Executed by Another Workflow"
    }
  ],
  "connections": {
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "6d8bb389-b33e-4e55-9170-0c5038469a7a",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-06-10T18:48:07.549Z",
      "updatedAt": "2025-06-10T18:48:07.549Z",
      "role": "workflow:owner",
      "workflowId": "OWb7puyydhH3FZ2M",
      "projectId": "nZwUmEIL638ig6xE"
    }
  ],
  "tags": []
}