workflows/Get_Scrape_Results.json
{
  "createdAt": "2025-06-24T19:23:41.405Z",
  "updatedAt": "2025-08-05T10:07:25.000Z",
  "id": "PEh6LcSsKzGMRlZH",
  "name": "Get Scrape Results",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -144,
        0
      ],
      "id": "d48be0be-a88b-4473-87c4-72140afc5e91",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1374417673,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ct2lzFXhDkWAROpdmN6L1e_uQQxKLSPlZCCKI4i44OY/edit#gid=1374417673"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        304,
        0
      ],
      "id": "e4228a97-8d1b-4993-bfad-c208f637004e",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dFntNaEYJAOsYZIZ",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json.query }}",
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        80,
        0
      ],
      "id": "6306f9ec-0a8f-441c-929a-49f7cd90370d",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "reZwBdwR7JImRDL0",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "CFxyw7s6FYHGw941"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "auto body or auto glass"
        }
      }
    ]
  },
  "versionId": "3fa09577-dbd6-49ac-bb6a-8a5b0446bde0",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-06-24T19:23:41.409Z",
      "updatedAt": "2025-06-24T19:23:41.409Z",
      "role": "workflow:owner",
      "workflowId": "PEh6LcSsKzGMRlZH",
      "projectId": "nZwUmEIL638ig6xE"
    }
  ],
  "tags": []
}