workflows/Get_Next.json
{
  "createdAt": "2025-06-24T19:41:37.574Z",
  "updatedAt": "2025-06-24T19:54:20.000Z",
  "id": "k5q06WQui1IpAp8b",
  "name": "Get Next",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -140,
        0
      ],
      "id": "2906dc21-4a74-49a9-b1b3-ea3951f39d73",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json.query }}",
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        80,
        0
      ],
      "id": "14b93d6e-a895-4fa0-9506-ba582bef9403",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "reZwBdwR7JImRDL0",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Get the next record from the resource that you have not returned before, passed in with the input. In addition to returning the next record, store to memory so that you know which records you have returned and don't return the same record twice.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        332,
        0
      ],
      "id": "5bdb84c0-e646-4956-b521-9e19f5141da2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        540,
        220
      ],
      "id": "20e452d0-6b45-4bbf-b47c-819c592cae7c",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dFntNaEYJAOsYZIZ",
          "name": "adamhaley@gmail Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        420,
        220
      ],
      "id": "7a4266ed-20a6-4fe2-9267-ef225abbc1bf",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-3-7-sonnet-20250219",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 3.7"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        300,
        220
      ],
      "id": "be4d3b27-695a-4fde-96c1-2131f1e28358",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "RpSgqhlCVqkttICM",
          "name": "Anthropic account"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "auto body or auto glass"
        }
      }
    ]
  },
  "versionId": "0d1021fa-99ca-4e25-a29d-f9ac1c662ed4",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-06-24T19:41:37.580Z",
      "updatedAt": "2025-06-24T19:41:37.580Z",
      "role": "workflow:owner",
      "workflowId": "k5q06WQui1IpAp8b",
      "projectId": "nZwUmEIL638ig6xE"
    }
  ],
  "tags": []
}