workflows/Get_Body_Composition.json
{
  "createdAt": "2025-07-26T22:59:20.363Z",
  "updatedAt": "2025-07-28T02:10:25.000Z",
  "id": "pl4B77yfp5CnjRnC",
  "name": "Get Body Composition",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "read_body_composition",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "8fffbcd7-88c8-457a-817d-5cce032db475",
      "name": "Webhook",
      "webhookId": "a3bfbeab-5e06-40b3-9eb1-926a9d3f0bbf",
      "credentials": {
        "httpHeaderAuth": {
          "id": "AAwmntbUzK3L2Bwn",
          "name": "N8N WEBHOOK AUTH"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1JznDHfkIBTqmMB9LDdG1TzdEQ-rRIjYFCOxbZA93X48",
          "mode": "list",
          "cachedResultName": "BodyCompositionLog",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JznDHfkIBTqmMB9LDdG1TzdEQ-rRIjYFCOxbZA93X48/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JznDHfkIBTqmMB9LDdG1TzdEQ-rRIjYFCOxbZA93X48/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        672,
        0
      ],
      "id": "ec677bab-d803-4531-a46e-d69517c238af",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dFntNaEYJAOsYZIZ",
          "name": "adamhaley@gmail Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1120,
        0
      ],
      "id": "618c959c-d349-4e3b-a423-ac090cc9fcdd",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "d3gWDU9Utjf2lJ0S",
          "mode": "list",
          "cachedResultName": "Parse Filters"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "params"
          ],
          "schema": [
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        448,
        0
      ],
      "id": "e56d60fb-1330-4922-b47d-b543354acf32",
      "name": "Query Params To Filters Object"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "df0a520c-89bc-462d-8e77-b7307281d307",
              "name": "start_date",
              "value": "={{ $json.query.start_date || $now.format('y-MM-d') }}",
              "type": "string"
            },
            {
              "id": "c9fa4412-fe36-4394-aa9e-ae1c09893fc4",
              "name": "end_date",
              "value": "={{ $json.query.end_date || $now.format('y-MM-d') }}",
              "type": "string"
            },
            {
              "id": "6adf1bb6-15c5-4790-bf0e-451775bea612",
              "name": "min_weight",
              "value": "={{ $json.query.min_weight || 0 }}",
              "type": "string"
            },
            {
              "id": "8d2df5be-d7e1-4866-b8bc-fcde9b15135c",
              "name": "max_weight",
              "value": "={{ $json.query.max_weight || 500 }}",
              "type": "string"
            },
            {
              "id": "22877303-a2c7-435d-a054-cb1516d3f069",
              "name": "min_body_fat",
              "value": "={{ $json.query.min_body_fat || 0 }}",
              "type": "string"
            },
            {
              "id": "59aa28fd-72af-4615-8194-6330512c547a",
              "name": "max_body_fat",
              "value": "={{ $json.query.max_body_fat || .50 }}",
              "type": "string"
            },
            {
              "id": "aed4dccd-854d-4009-a31d-a6dc8b10b52b",
              "name": "=min_bmi",
              "value": "={{ $json.query.min_bmi || 15 }}",
              "type": "string"
            },
            {
              "id": "82d8d928-f15b-4783-bc13-2876b72e0a9b",
              "name": "max_bmi",
              "value": "={{ $json.query.max_bmi || 40 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "id": "56a4401f-b4fd-4a11-ad94-ea911328c708",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0bbd4978-da90-4a82-9403-c4ec92da3e18",
              "leftValue": "={{ $json.Date }}",
              "rightValue": "={{ $('Query Params To Filters Object').item.json.start_date }}",
              "operator": {
                "type": "dateTime",
                "operation": "afterOrEquals"
              }
            },
            {
              "id": "83fc1a4a-56b2-4fab-a1d6-27accdb3b1e8",
              "leftValue": "={{ $json.Date }}",
              "rightValue": "={{ $('Query Params To Filters Object').item.json.end_date }}",
              "operator": {
                "type": "dateTime",
                "operation": "beforeOrEquals"
              }
            },
            {
              "id": "092c8fe3-088e-45de-b1bf-381e514e5967",
              "leftValue": "={{ $json.Weight }}",
              "rightValue": "={{ $('Query Params To Filters Object').item.json.min_weight }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "c7f3d435-4e35-47b7-a041-be9322991ac5",
              "leftValue": "={{ $json.Weight }}",
              "rightValue": "={{ $('Query Params To Filters Object').item.json.max_weight }}",
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            },
            {
              "id": "238ad6ea-3969-4bf1-826c-965151660e33",
              "leftValue": "={{ $json[\"Body Fat (%)\"] }}",
              "rightValue": "={{ $('Query Params To Filters Object').item.json.min_body_fat }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "eb8533ca-1430-4e29-805e-28c2ec402a11",
              "leftValue": "={{ $json[\"Body Fat (%)\"] }}",
              "rightValue": "={{ $('Query Params To Filters Object').item.json.max_body_fat }}",
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            },
            {
              "id": "5e1f7858-fb7d-472a-94f7-516d70e30849",
              "leftValue": "={{ $json.BMI }}",
              "rightValue": "={{ $('Query Params To Filters Object').item.json.min_bmi }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "65c45d4a-09c0-49cb-8eb2-f60bea2ff352",
              "leftValue": "={{ $json.BMI }}",
              "rightValue": "={{ $('Query Params To Filters Object').item.json.max_bmi }}",
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        896,
        0
      ],
      "id": "45a2ecf9-2a72-4ae7-89e3-37df66c82afd",
      "name": "Filter",
      "alwaysOutputData": true
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Params To Filters Object": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Query Params To Filters Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "09f7969d-4e01-4af6-b33c-6ab23afbe769",
  "triggerCount": 0,
  "tags": []
}