workflows/Get_Next_Lead.json
{
  "createdAt": "2025-06-10T18:48:47.132Z",
  "updatedAt": "2025-06-15T05:15:33.000Z",
  "id": "WIyeaKA7U16CMDr0",
  "name": "Get Next Lead",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -600,
        -80
      ],
      "id": "e1aa4e97-d84e-42c3-836f-35c595e5904b",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1AcjeSRbgedK_TTTsHBbEH7biK2wxru5my9im_Fti3c4",
          "mode": "list",
          "cachedResultName": "Local Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AcjeSRbgedK_TTTsHBbEH7biK2wxru5my9im_Fti3c4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AcjeSRbgedK_TTTsHBbEH7biK2wxru5my9im_Fti3c4/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "called"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -380,
        -80
      ],
      "id": "4ba215a6-b4f8-4769-b3ca-978137f40990",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dFntNaEYJAOsYZIZ",
          "name": "adamhaley@gmail Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nreturn $input.first();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        -80
      ],
      "id": "4a93f4c9-398d-4c50-ad48-f238685668ad",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1AcjeSRbgedK_TTTsHBbEH7biK2wxru5my9im_Fti3c4",
          "mode": "list",
          "cachedResultName": "Local Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AcjeSRbgedK_TTTsHBbEH7biK2wxru5my9im_Fti3c4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AcjeSRbgedK_TTTsHBbEH7biK2wxru5my9im_Fti3c4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "called": "1",
            "row_number": "={{ $json.row_number }}",
            "name": "={{ $json.name }}",
            "site": "={{ $json.site }}",
            "full_address": "={{ $json.full_address }}",
            "phone": "={{ $json.phone }}",
            "category": "={{ $json.category }}",
            "subtypes": "={{ $json.subtypes }}",
            "logo": "={{ $json.logo }}",
            "location_link": "={{ $json.location_link }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "site",
              "displayName": "site",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "full_address",
              "displayName": "full_address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subtypes",
              "displayName": "subtypes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "logo",
              "displayName": "logo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "location_link",
              "displayName": "location_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "called",
              "displayName": "called",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        60,
        -80
      ],
      "id": "36ceebd4-f976-4fbd-8144-555a65c9bf6a",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dFntNaEYJAOsYZIZ",
          "name": "adamhaley@gmail Google Sheets"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        []
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "1548edba-564e-4f22-bac3-d34b1250dad7",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-06-10T18:48:47.138Z",
      "updatedAt": "2025-06-10T18:48:47.138Z",
      "role": "workflow:owner",
      "workflowId": "WIyeaKA7U16CMDr0",
      "projectId": "nZwUmEIL638ig6xE"
    }
  ],
  "tags": []
}