workflows/Invoice__Receipt_collector.json
{
  "createdAt": "2025-04-02T18:38:13.147Z",
  "updatedAt": "2025-07-11T19:56:25.000Z",
  "id": "Ey0bE1Ie1l6NfsfG",
  "name": "Invoice / Receipt collector",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {}
          ]
        },
        "simple": false,
        "filters": {},
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -480,
        20
      ],
      "id": "af888bfb-7b2b-420b-8139-13d7ae123dfc",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "p2hZcd01ehWmDyQ7",
          "name": "adam@adamhaley.com Gmail"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}",
        "simple": false,
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -260,
        20
      ],
      "id": "e5bed9ba-faa0-4e84-b963-7956ca287965",
      "name": "Gmail",
      "webhookId": "52b0b2ad-459c-4f48-98af-976fded42e84",
      "credentials": {
        "gmailOAuth2": {
          "id": "p2hZcd01ehWmDyQ7",
          "name": "adam@adamhaley.com Gmail"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=EMAIL SUBJECT:  {{ $json.subject }}\n\nSENDER: {{ $('Gmail Trigger').item.json.From }}\n\nBODY:{{ $json.text }}",
        "options": {
          "systemMessage": "Your task is to identify whether this email is a receipt/invoice, or not.\n\nIf it IS a receipt or invoice, output the word \"YES\", otherwise output \"NO\". DO not include anything else with your reply."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -400,
        460
      ],
      "id": "fcd63bae-8f2b-4f5d-bfd0-633d9fa57ca3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "YES",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "489b4962-90b8-43a1-877f-c2de1f02847e"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        320,
        20
      ],
      "id": "2a5beb71-a133-4014-91cb-77e016180508",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "simple": false,
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        540,
        20
      ],
      "id": "a9aeb51f-2fca-4492-a6d2-0dcc17a11a5b",
      "name": "Gmail1",
      "webhookId": "52b0b2ad-459c-4f48-98af-976fded42e84",
      "credentials": {
        "gmailOAuth2": {
          "id": "p2hZcd01ehWmDyQ7",
          "name": "adam@adamhaley.com Gmail"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "attachment_0",
        "name": "={{ $binary.attachment_0.fileName }}\n",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        980,
        -80
      ],
      "id": "88a785bd-6f2a-4b96-8145-eb40fca17c1a",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "fA1w6gMdQ2aJNFpG",
          "name": "adam@adamhaley.com Google Drive"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ff37d78f-bc50-411b-b99c-1dccab6532e6",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        760,
        20
      ],
      "id": "fb21fd74-6ca4-49e1-8b49-c8e327dbff51",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        980,
        120
      ],
      "id": "3e0e6c23-a8dc-46fb-a543-fdef5606a171",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-20250514",
          "cachedResultName": "Claude 4 Sonnet"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -80,
        600
      ],
      "id": "268e9e64-ae4b-4fa9-b18c-240133ed1230",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "RpSgqhlCVqkttICM",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "=",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -40,
        20
      ],
      "id": "2479461e-7db2-4739-8f2b-3ace0751d0bd",
      "name": "Text Classifier"
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Gmail Trigger": {
      "Gmail Trigger": {
        "lastTimeChecked": 1751909931,
        "possibleDuplicates": [
          "197e5f81b00bd326",
          "197e5f5f349b3267",
          "197e5f43b8e99e0a",
          "197e5a24ef41580d"
        ]
      }
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "005a1fde-13a5-4754-9373-5a9c3a9664c9",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-04-02T18:38:13.160Z",
      "updatedAt": "2025-04-02T18:38:13.160Z",
      "role": "workflow:owner",
      "workflowId": "Ey0bE1Ie1l6NfsfG",
      "projectId": "nZwUmEIL638ig6xE"
    }
  ],
  "tags": [
    {
      "createdAt": "2025-04-02T22:42:59.542Z",
      "updatedAt": "2025-04-02T22:42:59.542Z",
      "id": "S3cz45xaBEgGjQya",
      "name": "business"
    },
    {
      "createdAt": "2025-04-02T22:42:56.017Z",
      "updatedAt": "2025-04-02T22:42:56.017Z",
      "id": "g7KzoidkGeRmZE14",
      "name": "accounting"
    }
  ]
}