workflows/Invoice_Reciept_Collector.json
{
  "createdAt": "2025-07-15T20:07:36.747Z",
  "updatedAt": "2025-07-15T20:07:43.000Z",
  "id": "vATxYBpMmPas9V7m",
  "name": "Invoice Reciept Collector",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {}
          ]
        },
        "simple": false,
        "filters": {},
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -1200,
        440
      ],
      "id": "318dbdf0-4227-4e26-a2cb-3531af39f0c8",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "p2hZcd01ehWmDyQ7",
          "name": "adam@adamhaley.com Gmail"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}",
        "simple": false,
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -980,
        440
      ],
      "id": "3f7f2114-4741-4108-84f3-cc5accc0b9ac",
      "name": "Gmail",
      "webhookId": "52b0b2ad-459c-4f48-98af-976fded42e84",
      "credentials": {
        "gmailOAuth2": {
          "id": "p2hZcd01ehWmDyQ7",
          "name": "adam@adamhaley.com Gmail"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=EMAIL SUBJECT:  {{ $json.subject }}\n\nSENDER: {{ $('Gmail Trigger').item.json.From }}\n\nBODY:{{ $json.text }}",
        "options": {
          "systemMessage": "Your task is to identify whether this email is a receipt/invoice, or not.\n\nIf it IS a receipt or invoice, output the word \"YES\", otherwise output \"NO\"."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -760,
        440
      ],
      "id": "ed9178c9-95f8-4bed-b123-21cbb8a0d4f1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "YES",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "489b4962-90b8-43a1-877f-c2de1f02847e"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -400,
        440
      ],
      "id": "19a63d35-6673-496d-9701-a27b22415fff",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "simple": false,
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -180,
        440
      ],
      "id": "61cf8c2d-3f38-4aee-a78d-930cacce5c13",
      "name": "Gmail1",
      "webhookId": "52b0b2ad-459c-4f48-98af-976fded42e84",
      "credentials": {
        "gmailOAuth2": {
          "id": "p2hZcd01ehWmDyQ7",
          "name": "adam@adamhaley.com Gmail"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "attachment_0",
        "name": "={{ $binary.attachment_0.fileName }}\n",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        40,
        440
      ],
      "id": "fbb5f34c-f03b-468a-9a5e-9aba3c872a8f",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "fA1w6gMdQ2aJNFpG",
          "name": "adam@adamhaley.com Google Drive"
        }
      }
    },
    {
      "parameters": {
        "model": "gemma3:1b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -680,
        660
      ],
      "id": "7a48e644-be1e-4b87-a928-4a3bef63569d",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "b1Nz8WxwYDKRmecP",
          "name": "Ollama account"
        }
      }
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail1": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "28d80d11-f9d3-460f-93ae-f0b615ec2005",
  "triggerCount": 0,
  "tags": []
}