workflows/Job_Filtering_Agent_-_WIP.json
{
  "createdAt": "2025-06-06T20:25:23.899Z",
  "updatedAt": "2025-06-06T20:25:23.000Z",
  "id": "xmlWkWMNGmQsvA3O",
  "name": "Job Filtering Agent - WIP",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        200,
        420
      ],
      "id": "307ec0bd-1f62-451e-a1d2-49085e2fe814",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "b1Nz8WxwYDKRmecP",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n{\n\"url\": \n\"https://news.ycombinator.com/user?id=teknominds\",\n\"date\": \n\"34 minutes ago\",\n\"body\": \n\"Littlebird | Sr. Swift dev / Lead BE Eng | FTE/remote - https://littlebird.ai/\\n[https://littlebird.ai/]\\n\\nWe are building Personalized AI that reads your mind, not your prompts.\\nLittlebird works behind the scenes to understand the information that matters\\nfor your personal workflow - for Mac and Android. $5M seed, remote-first\\n\\nOur stack: python, React, Swift, Rust, Postgres, AWS, search\\n\\nSr. Swift Developer - we develop natively, care about concurrency, SwiftUI -\\nhttps://scarlet-magician-747.notion.site/Senior-Swift-Engine...\\n[https://scarlet-magician-747.notion.site/Senior-Swift-Engineer-1ae0e6d1f99b8088a9a2de4f778aeef3]\\n\\nLead Backend Engineer - we process tons of data including hybrid search and\\nspeech processing, and this role will lead BE scalability and ML platform\\nefforts, w/ overview of security and cloud strategy -\\nhttps://scarlet-magician-747.notion.site/Senior-Backend-Engi...\\n[https://scarlet-magician-747.notion.site/Senior-Backend-Engineer-1ee0e6d1f99b808290ceeee5d2090070]\"\n}\n]"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        400,
        220
      ],
      "id": "f563238d-85cc-4f6a-bac4-0f6535fd9d5e",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "knowledge_base",
        "toolDescription": "Evaluate Candidate Experience for Job Opening Relevance",
        "pineconeIndex": {
          "__rl": true,
          "value": "ah-media",
          "mode": "list",
          "cachedResultName": "ah-media"
        },
        "options": {
          "pineconeNamespace": "shiny-river-7309"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        120,
        240
      ],
      "id": "3dfe83b9-353b-432e-bd2c-9fca10d295a0",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "x0bN3Ljld6zAEruh",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "scrape_hnhiring"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        -20,
        220
      ],
      "id": "0addede2-1fd3-4036-b284-91a64cdbb8c9",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "PAxrnIdpjZ24fsIc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -140,
        220
      ],
      "id": "58b8cd76-07df-4248-b632-63609972b9ef",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "5GRgzlcJ5Ujkvgcd",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=I am sending you JSON of job opportunities and I have a candidate whos resume is stored in the Pinecone Vector Store. Based on that information I want you to return a list of job opportunities relevant to the candidate. {{ JSON.stringify( $json.jobs ) }}\n\nYou will output ony JSON that matches the json format of the incoming job list.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a helpful Job finding assistant, your job is to filter incoming job listings JSON to only the ones relevant to Candidate whos experience is stored in the Pinecone Vector Store."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "f2e47f32-bfa5-4435-b8c1-afce8e1bf942",
      "name": "AI Agent"
    }
  ],
  "connections": {
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "b1b530fe-9609-4aff-944b-16dc943c259f",
  "triggerCount": 0,
  "tags": []
}