workflows/Local_RAG_Chatbot.json
{
  "name": "Local RAG Chatbot",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "You are a helpful assistant. You must answer questions using information found in the Pinecone vector store database. If the answer is not found, do not attempt to answer from outside knowledge"
        }
      },
      "id": "66e75857-5b12-4dfe-9839-273e106bcbe6",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        112,
        -200
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "unitor_manual",
        "toolDescription": "load details from unitor8 manual",
        "pineconeIndex": {
          "__rl": true,
          "value": "ah-media",
          "mode": "list",
          "cachedResultName": "ah-media"
        },
        "includeDocumentMetadata": false,
        "options": {
          "pineconeNamespace": "={{ $json.body.namespace }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        320,
        22.5
      ],
      "id": "5219333f-cdef-4576-959e-fa4cf6e8f74c",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "x0bN3Ljld6zAEruh",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        408,
        220
      ],
      "id": "1753eba5-8407-4d4a-a89e-810ce6937c16",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "b1Nz8WxwYDKRmecP",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.namespace }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        200,
        20
      ],
      "id": "194fa776-f74f-4b3c-8df9-f7619a41cc97",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "PAxrnIdpjZ24fsIc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        80,
        20
      ],
      "id": "0bb6f84e-3789-4253-ab29-02a909df1406",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "5GRgzlcJ5Ujkvgcd",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "245a2818-056b-4f66-b730-116528e44bf7",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -140,
        -200
      ],
      "id": "d123df97-ba98-4b32-a6d5-49c4dd3ebe90",
      "name": "Webhook",
      "webhookId": "245a2818-056b-4f66-b730-116528e44bf7"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        696,
        -200
      ],
      "id": "ab9dc158-9b44-4272-937c-9b13a55849f3",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "51f59291-2a5b-4eb3-b7f6-38789758048c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9eba4434b08a3b38c7a52d54228c736501f146e2a8d1b314568ff999759dcb0e"
  },
  "id": "6hVEPWSdWtEgAvFL",
  "tags": []
}