workflows/Luis.json
{
  "createdAt": "2025-08-01T23:40:46.152Z",
  "updatedAt": "2025-08-02T00:45:51.000Z",
  "id": "2pP2gLfQYbUqlftH",
  "name": "Luis",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        272,
        240
      ],
      "id": "aa136cc2-c990-473c-806f-75112b40e6fb",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n\t\"id\": \"{{ $json.tables_record_id }}\",\n    \"success\": true,\n    \"message\": \"Task created (mock)\"\n  } ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        592
      ],
      "id": "d1dccb87-69d0-4f0e-8561-0b77f5ebc670",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        480,
        592
      ],
      "id": "c1312a5f-b180-41e4-95ef-af53f6205488",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n\t\"id\": \"TASK-001\",\n    \"success\": true,\n    \"message\": \"Task status Done\"\n  }",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        1024
      ],
      "id": "96866b9f-833e-4fc8-bb1e-a020202a3cca",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        480,
        1024
      ],
      "id": "3b3f59ff-7cae-403f-97a3-e18e08243302",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n\t\"id\": \"TASK-001\",\n    \"success\": true,\n    \"message\": \"Task assignee Linux\"\n  }",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        832
      ],
      "id": "530c86d2-aecb-46dc-8e58-0eba5289379d",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        480,
        832
      ],
      "id": "135d05ac-f65f-45a4-82eb-300b0d46210e",
      "name": "Respond to Webhook4"
    },
    {
      "parameters": {
        "content": "## FUTURE\nNot sure we want to implement PATCH /Tasks/{id}"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -464,
        576
      ],
      "typeVersion": 1,
      "id": "bdcdd4ba-4d87-4863-8998-4353078600cb",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## /Tasks endpoints\n",
        "height": 656,
        "width": 912,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -208,
        -80
      ],
      "typeVersion": 1,
      "id": "a62c9145-9d83-4d3b-a072-8e8f49951fbd",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.data }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1360,
        240
      ],
      "id": "24e4f950-662d-4486-9f68-99598fc1f6a6",
      "name": "Respond to Webhook5"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n\t\"content\": \"## Team Capability Matrix\\n\\n- Adam: Lead Developer\\n- Stacy: Advisor\\n- David: Virtual Assistant\\n- Santiago: Repairs\\n- Linux: Bookkeeping\"\n  }",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1152,
        416
      ],
      "id": "c3acd58b-c8d2-44b9-b060-5faa943ff7ef",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1360,
        416
      ],
      "id": "15d600dc-199f-4416-a898-cb9bd07649fa",
      "name": "Respond to Webhook6"
    },
    {
      "parameters": {
        "content": "## /References endpoints\n",
        "height": 656,
        "width": 688,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        880,
        -80
      ],
      "typeVersion": 1,
      "id": "cf61d26c-a426-453e-9edf-d4ad051db2b3",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1GU4ncABiJjMyUcZsuh2YzZZ-T8jYNUQRcNAP1WxdRPM",
          "mode": "list",
          "cachedResultName": "Tasks",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GU4ncABiJjMyUcZsuh2YzZZ-T8jYNUQRcNAP1WxdRPM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GU4ncABiJjMyUcZsuh2YzZZ-T8jYNUQRcNAP1WxdRPM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Task Name": "={{ $json.body.task_name }}",
            "Description": "={{ $json.body.description }}",
            "Assignee": "={{ $json.body.assignee }}",
            "Due Date": "={{ $json.body.due_date }}",
            "Priority": "={{ $json.body.priority }}",
            "Status": "={{ $json.body.status }}",
            "Definition of Done": "={{ $json.body.definition_of_done }}",
            "tables_record_id": "={{ $json.body.id }}",
            "tables_updated_at": "=",
            "tables_created_at": "={{ $now.format('y-MM-dd') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "tables_record_id",
              "displayName": "tables_record_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tables_created_at",
              "displayName": "tables_created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tables_updated_at",
              "displayName": "tables_updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Task Name",
              "displayName": "Task Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Assignee",
              "displayName": "Assignee",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Due Date",
              "displayName": "Due Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Definition of Done",
              "displayName": "Definition of Done",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        64,
        416
      ],
      "id": "811bc637-0675-4556-ba66-28004ac346e7",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dFntNaEYJAOsYZIZ",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "path": "/tasks",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -144,
        240
      ],
      "id": "f3a64edf-b5cb-4b17-8672-627a11e0529b",
      "name": "Get Tasks",
      "webhookId": "0d1f048d-b57f-403d-ac82-bc78fd0d5e8c",
      "notesInFlow": true,
      "notes": "GET /Tasks"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/create-task",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -144,
        416
      ],
      "id": "ee64b4a5-484f-49d1-b754-c541ebb8e949",
      "name": "Create Task",
      "webhookId": "0d1f048d-b57f-403d-ac82-bc78fd0d5e8c",
      "notesInFlow": true,
      "notes": "POST /Tasks"
    },
    {
      "parameters": {
        "httpMethod": "PATCH",
        "path": "/tasks/:id",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -144,
        592
      ],
      "id": "0a50c7e6-d81f-4101-a4f3-febfc8d57421",
      "name": "Update Tasks",
      "webhookId": "0d1f048d-b57f-403d-ac82-bc78fd0d5e8c",
      "notesInFlow": true,
      "notes": "PATCH /Tasks/:id"
    },
    {
      "parameters": {
        "httpMethod": "PATCH",
        "path": "/tasks/:id/assignee",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -160,
        832
      ],
      "id": "622193fb-778a-4a18-bda4-75f1fe271246",
      "name": "Update Task Assignee",
      "webhookId": "0d1f048d-b57f-403d-ac82-bc78fd0d5e8c",
      "notesInFlow": true,
      "notes": "PATCH /Tasks/:id/assignee"
    },
    {
      "parameters": {
        "httpMethod": "PATCH",
        "path": "/tasks/:id/status",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -160,
        1024
      ],
      "id": "3d12afad-c84b-400c-807a-e135fe3cf714",
      "name": "Update Task Status",
      "webhookId": "0d1f048d-b57f-403d-ac82-bc78fd0d5e8c",
      "notesInFlow": true,
      "notes": "PATCH /Tasks/:id/status"
    },
    {
      "parameters": {
        "path": "/references",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        944,
        240
      ],
      "id": "6daf2fab-28b9-4dae-8e52-6bf123265330",
      "name": "Get References",
      "webhookId": "0d1f048d-b57f-403d-ac82-bc78fd0d5e8c",
      "notesInFlow": true,
      "notes": "GET /References"
    },
    {
      "parameters": {
        "path": "/references/:id",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        944,
        416
      ],
      "id": "499a5908-1e81-4ae0-8066-95c27b02fb52",
      "name": "Get Reference",
      "webhookId": "0d1f048d-b57f-403d-ac82-bc78fd0d5e8c",
      "notesInFlow": true,
      "notes": "GET /References/:id"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        272,
        416
      ],
      "id": "96a4d381-0f51-4f8c-8911-a29a5093ef8e",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1GU4ncABiJjMyUcZsuh2YzZZ-T8jYNUQRcNAP1WxdRPM",
          "mode": "list",
          "cachedResultName": "Tasks",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GU4ncABiJjMyUcZsuh2YzZZ-T8jYNUQRcNAP1WxdRPM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GU4ncABiJjMyUcZsuh2YzZZ-T8jYNUQRcNAP1WxdRPM/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        64,
        240
      ],
      "id": "d9c1020e-c659-4c5c-a8a6-36b0ffa17314",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dFntNaEYJAOsYZIZ",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1GU4ncABiJjMyUcZsuh2YzZZ-T8jYNUQRcNAP1WxdRPM",
          "mode": "list",
          "cachedResultName": "Tasks",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GU4ncABiJjMyUcZsuh2YzZZ-T8jYNUQRcNAP1WxdRPM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GU4ncABiJjMyUcZsuh2YzZZ-T8jYNUQRcNAP1WxdRPM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tables_record_id": "={{ $json.body.id }}",
            "tables_updated_at": "={{ $now.format('y-MM-dd') }}",
            "Task Name": "={{ $json.body.task_name }}",
            "Description": "={{ $json.body.description }}",
            "Assignee": "={{ $json.body.assignee }}",
            "Due Date": "={{ $json.body.due_date }}",
            "Priority": "={{ $json.body.priority }}",
            "Status": "={{ $json.body.status }}",
            "Definition of Done": "={{ $json.body.definition_of_done }}"
          },
          "matchingColumns": [
            "tables_record_id"
          ],
          "schema": [
            {
              "id": "tables_record_id",
              "displayName": "tables_record_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tables_created_at",
              "displayName": "tables_created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tables_updated_at",
              "displayName": "tables_updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Task Name",
              "displayName": "Task Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Assignee",
              "displayName": "Assignee",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Due Date",
              "displayName": "Due Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Definition of Done",
              "displayName": "Definition of Done",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        64,
        592
      ],
      "id": "a94eb696-b7be-4c59-b05b-8a0400c7c4bc",
      "name": "Update row in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dFntNaEYJAOsYZIZ",
          "name": "Google Sheets"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1GU4ncABiJjMyUcZsuh2YzZZ-T8jYNUQRcNAP1WxdRPM",
          "mode": "list",
          "cachedResultName": "Tasks",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GU4ncABiJjMyUcZsuh2YzZZ-T8jYNUQRcNAP1WxdRPM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GU4ncABiJjMyUcZsuh2YzZZ-T8jYNUQRcNAP1WxdRPM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "tables_record_id"
          ],
          "schema": [
            {
              "id": "tables_record_id",
              "displayName": "tables_record_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tables_created_at",
              "displayName": "tables_created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tables_updated_at",
              "displayName": "tables_updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Task Name",
              "displayName": "Task Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Assignee",
              "displayName": "Assignee",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Due Date",
              "displayName": "Due Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Definition of Done",
              "displayName": "Definition of Done",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        64,
        832
      ],
      "id": "2d52fc4f-6c79-4706-aa62-13b7fa52853e",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dFntNaEYJAOsYZIZ",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1GU4ncABiJjMyUcZsuh2YzZZ-T8jYNUQRcNAP1WxdRPM",
          "mode": "list",
          "cachedResultName": "Tasks",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GU4ncABiJjMyUcZsuh2YzZZ-T8jYNUQRcNAP1WxdRPM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GU4ncABiJjMyUcZsuh2YzZZ-T8jYNUQRcNAP1WxdRPM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "tables_record_id"
          ],
          "schema": [
            {
              "id": "tables_record_id",
              "displayName": "tables_record_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tables_created_at",
              "displayName": "tables_created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tables_updated_at",
              "displayName": "tables_updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Task Name",
              "displayName": "Task Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Assignee",
              "displayName": "Assignee",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Due Date",
              "displayName": "Due Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Definition of Done",
              "displayName": "Definition of Done",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        64,
        1024
      ],
      "id": "f9fedad9-cbe7-4ea4-aaa7-84d127c11fd6",
      "name": "Update row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dFntNaEYJAOsYZIZ",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1RBcxhCq1ibSpfFy14BxLheFc5PGlzC96RHuwJf5qV7w",
          "mode": "list",
          "cachedResultName": "References",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RBcxhCq1ibSpfFy14BxLheFc5PGlzC96RHuwJf5qV7w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RBcxhCq1ibSpfFy14BxLheFc5PGlzC96RHuwJf5qV7w/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1152,
        240
      ],
      "id": "cb2a87d2-93b0-4e3c-9178-7f3521931a2e",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dFntNaEYJAOsYZIZ",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "content": "## Related Entities",
        "height": 480,
        "width": 928,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -224,
        752
      ],
      "id": "04672f5b-f24a-4f52-9303-904240ce77b2",
      "name": "Sticky Note3"
    }
  ],
  "connections": {
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Respond to Webhook4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Respond to Webhook6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Tasks": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Task": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Tasks": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Task Assignee": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Task Status": {
      "main": [
        [
          {
            "node": "Update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get References": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Reference": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet1": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet2": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Respond to Webhook5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Create Task": [
      {
        "json": {
          "body": {
            "id": "1",
            "task_name": "Test Task",
            "description": "Lorem ipsum dolor samet",
            "assignee": "Test",
            "due_date": "2025-11-01",
            "priority": "1",
            "status": "1",
            "definition_of_done": "Lorem ipsum dolor samet"
          }
        }
      }
    ],
    "Update Tasks": [
      {
        "json": {
          "body": {
            "id": "7",
            "task_name": "An Updated Test Task",
            "description": "Lorem ipsum dolor samet hello test test ",
            "assignee": "Hello",
            "due_date": "2025-11-01",
            "priority": "1",
            "status": "1",
            "definition_of_done": "Lorem ipsum dolor samet"
          }
        }
      }
    ]
  },
  "versionId": "08ffecdd-d2d2-4a44-b8b6-79ceec1c2900",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-08-01T23:40:46.157Z",
      "updatedAt": "2025-08-01T23:40:46.157Z",
      "role": "workflow:owner",
      "workflowId": "2pP2gLfQYbUqlftH",
      "projectId": "nZwUmEIL638ig6xE"
    }
  ],
  "tags": []
}