workflows/Q4-Vermögensschutz_Schnellcheck_SCHRITT_1_-_WUFOO.json
{
  "createdAt": "2025-08-03T00:13:29.036Z",
  "updatedAt": "2025-08-03T00:30:15.000Z",
  "id": "kHKFhVPITCrOrnVp",
  "name": "Q4-Vermögensschutz Schnellcheck SCHRITT 1 - WUFOO",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "form": "r1ktp8om0ykx345"
      },
      "type": "n8n-nodes-base.wufooTrigger",
      "typeVersion": 1,
      "position": [
        64,
        480
      ],
      "id": "d427f329-335c-4666-9037-581890e429d3",
      "name": "Wufoo Trigger",
      "webhookId": "602021a6-36dc-40ac-a071-2a49afd03ad0"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1KxtAEY0Ch2jv9aVKQU3xnjU8vMTsHcRbkXwg83JRJg8",
          "mode": "list",
          "cachedResultName": "Q4-Vermögensschutz Anfragen",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KxtAEY0Ch2jv9aVKQU3xnjU8vMTsHcRbkXwg83JRJg8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Tabellenblatt1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KxtAEY0Ch2jv9aVKQU3xnjU8vMTsHcRbkXwg83JRJg8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('Wufoo Trigger').item.json['Name:'].Vorname}} {{ $('Wufoo Trigger').item.json['Name:'].Nachname }}",
            "Email": "={{ $('Wufoo Trigger').item.json['E-Mail-Adresse'] }}",
            "Telefon": "={{ $('Wufoo Trigger').item.json.Telefonnummer }}",
            "Immo": "={{ $('Wufoo Trigger').item.json['Besitzen Sie Immobilien'][0] }}",
            "Immo - Wie viel ": "={{ $('Wufoo Trigger').item.json['Optional: Wie viel haben Sie in Immobilien investiert?'].first() }}",
            "Wertpapiere": "={{ $('Wufoo Trigger').item.json['Besitzen Sie Wertpapiere?'].first() }}",
            "Wertpapiere - Wie viel": "={{ $('Wufoo Trigger').item.json['Optional: Wie viel haben Sie in Wertpapieren investiert? (Aktien, Anleihen, ETFs usw.)'].first() }}",
            "Edelmetalle": "={{ $('Wufoo Trigger').item.json['Besitzen Sie Edelmetalle?'].first() }}",
            "Edelmetalle -  Wie viel": "={{ $('Wufoo Trigger').item.json['Optional: Wie viel haben Sie in Edelmetalle investiert? (Goldbarren, Münzen, Silber usw.)'].first() }}",
            "Datum": "={{ $now.format('y-MM-d H:m:ss') }}",
            "LV": "={{ $('Wufoo Trigger').item.json['Besitzen Sie Lebensversicherungen als Rentenvorsorge (oder Bausparverträge)?'].first() }}",
            "LV - Wie viel": "={{ $('Wufoo Trigger').item.json['Optional: Wie viel zahlen Sie monatlich in diese Lebensversicherung/en ein?'].first() }}",
            "Bank": "={{ $('Wufoo Trigger').item.json['Haben Sie Geld auf der Bank?'].first() }}",
            "Bank - Wie viel": "={{ $('Wufoo Trigger').item.json['Optional: Wie viel Geld haben Sie auf der Bank? (Konto, Bausparer usw.)'].first()}}",
            "Alternative": "={{ $('Wufoo Trigger').item.json['Haben Sie alternative (Sach-)Werte?'].first()}}",
            "Alternative - Wie viel": "={{ $('Wufoo Trigger').item.json['Optional: Wie viel haben Sie in alternative Werte investiert? (Krypto, Oldtimer, usw - alles was bisher nicht aufgeschienen ist)'].first() }}",
            "Anmerkungen": "={{ $('Wufoo Trigger').item.json['Anmerkungen, Feedback?'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefon",
              "displayName": "Telefon",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Immo",
              "displayName": "Immo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Immo - Wie viel ",
              "displayName": "Immo - Wie viel ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Wertpapiere",
              "displayName": "Wertpapiere",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Wertpapiere - Wie viel",
              "displayName": "Wertpapiere - Wie viel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Edelmetalle",
              "displayName": "Edelmetalle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Edelmetalle -  Wie viel",
              "displayName": "Edelmetalle -  Wie viel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LV",
              "displayName": "LV",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LV - Wie viel",
              "displayName": "LV - Wie viel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Bank",
              "displayName": "Bank",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Bank - Wie viel",
              "displayName": "Bank - Wie viel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Alternative",
              "displayName": "Alternative",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Alternative - Wie viel",
              "displayName": "Alternative - Wie viel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Anmerkungen",
              "displayName": "Anmerkungen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Datum",
              "displayName": "Datum",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Datum in schön",
              "displayName": "Datum in schön",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "VERSCHICKT",
              "displayName": "VERSCHICKT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Gefädungspotential",
              "displayName": "Gefädungspotential",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "erreicht nach einer Woche?",
              "displayName": "erreicht nach einer Woche?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "GFA gekauft?",
              "displayName": "GFA gekauft?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "verkauf durch",
              "displayName": "verkauf durch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        736,
        480
      ],
      "id": "771a8cab-e219-490e-bb46-c2899f43fdb3",
      "name": "Append row in sheet",
      "retryOnFail": true
    },
    {
      "parameters": {
        "content": "## Wufoo Form - Collect Data",
        "height": 544,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        240
      ],
      "id": "37646545-ac03-471a-9c34-ad2f1f88b119",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Create Doc from Template\nCopy new doc from template and update values",
        "height": 544,
        "width": 416,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        240
      ],
      "id": "e35480f4-67db-42b6-b7cb-91ba70c69e01",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Append row to Google Sheet",
        "height": 544,
        "width": 224,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        672,
        240
      ],
      "id": "9a46d660-ff02-4506-81bd-20b8c68b1516",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Add Quentn Contact\n",
        "height": 544,
        "width": 768,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        912,
        240
      ],
      "id": "46f364e7-dc86-48ff-8ab6-556478ec6b30",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Q4-Vermögensschutz Schnellcheck SCHRITT 1 - WUFOO\n\n- Triggers on a new Wufoo form submission\nGenerates a personalized Google Doc based on the respondent's name\n- Appends form data (name, email, phone, real estate holdings, etc.) to a central Google Sheet for internal tracking\n- Sends contact info to Quentn CRM via API to update or create a contact record\n",
        "height": 224,
        "width": 1104,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "f9eb6bf4-e83c-494b-8fe8-5f3b1fbbf8b3",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1-DivBvHLX_vV_dtBE9L8VdX5xBK8yRDSLw4_lccuH00",
          "mode": "list",
          "cachedResultName": "Vermögensschutz-Schnell-Check Markus Dan",
          "cachedResultUrl": "https://docs.google.com/document/d/1-DivBvHLX_vV_dtBE9L8VdX5xBK8yRDSLw4_lccuH00/edit?usp=drivesdk"
        },
        "name": "=n8n-Vermögens-Schnell-Check_{{ $json['Name:'].Vorname }} {{ $json['Name:'].Nachname }}",
        "sameFolder": false,
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1tB-f7Nqhhi36ClWDcwUJp4l1mroBWWMk",
          "mode": "list",
          "cachedResultName": "Q4-Vermögensschutz-Schnell-Check",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1tB-f7Nqhhi36ClWDcwUJp4l1mroBWWMk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        288,
        480
      ],
      "id": "b1b0f34c-19d3-48f8-ad2c-760cc998aa53",
      "name": "Copy file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "reZwBdwR7JImRDL0",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "simple": false,
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": " {{Name}}",
              "replaceText": "={{ $('Wufoo Trigger').item.json[\"Name:\"].Vorname }} {{ $('Wufoo Trigger').item.json[\"Name:\"].Nachname }}",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "{{Email}}",
              "replaceText": "={{ $('Wufoo Trigger').item.json[\"E-Mail-Adresse\"] }}",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "{{Telefonnummer}}",
              "replaceText": "={{ $('Wufoo Trigger').item.json.Telefonnummer }}",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "{{Besitz_Immobilien}}",
              "replaceText": "={{ $('Wufoo Trigger').item.json[\"Besitzen Sie Immobilien\"].first() }}",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "{{Invest_Immobilien}}",
              "replaceText": "={{ $('Wufoo Trigger').item.json[\"Optional: Wie viel haben Sie in Immobilien investiert?\"].first() }}",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "{{Besitz_Wertpapiere}}",
              "replaceText": "={{ $('Wufoo Trigger').item.json[\"Besitzen Sie Wertpapiere?\"].first() }}",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "{{Invest_Wertpapiere}}",
              "replaceText": "={{ $('Wufoo Trigger').item.json[\"Optional: Wie viel haben Sie in Wertpapieren investiert? (Aktien, Anleihen, ETFs usw.)\"].first() }}",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "{{Besitz_Edelmetalle}}",
              "replaceText": "={{ $('Wufoo Trigger').item.json[\"Besitzen Sie Edelmetalle?\"].first() }}",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "{{Invest_Edelmetalle}}",
              "replaceText": "={{ $('Wufoo Trigger').item.json[\"Optional: Wie viel haben Sie in Edelmetalle investiert? (Goldbarren, Münzen, Silber usw.)\"].first() }}",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "{{Besitz_Lebensversicherung}}",
              "replaceText": "={{ $('Wufoo Trigger').item.json[\"Besitzen Sie Lebensversicherungen als Rentenvorsorge (oder Bausparverträge)?\"].first() }}",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "{{Invest_Lebensversicherung}}",
              "replaceText": "={{ $('Wufoo Trigger').item.json[\"Optional: Wie viel zahlen Sie monatlich in diese Lebensversicherung/en ein?\"].first() }}",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "{{Besitz_Bankguthaben}}",
              "replaceText": "={{ $('Wufoo Trigger').item.json[\"Optional: Wie viel Geld haben Sie auf der Bank? (Konto, Bausparer usw.)\"].first() }}",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "{{Besitz_Alternative_Werte}}",
              "replaceText": "={{ $('Wufoo Trigger').item.json[\"Haben Sie alternative (Sach-)Werte?\"].first() }}",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "{{Invest_Alternative_Werte}}",
              "replaceText": "={{ $('Wufoo Trigger').item.json[\"Haben Sie alternative (Sach-)Werte?\"].first() }}",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "{{Invest_Bankguthaben}}",
              "replaceText": "={{ $('Wufoo Trigger').item.json[\"Optional: Wie viel haben Sie in alternative Werte investiert? (Krypto, Oldtimer, usw - alles was bisher nicht aufgeschienen ist)\"].first() }}",
              "matchCase": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        512,
        480
      ],
      "id": "6f493298-c0bd-4aa7-9adc-72b8a8fc9494",
      "name": "Update a document"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://qk7fee.eu-4.quentn.com/public/api/v1/contact/{{ $('Create Quentn Contact').item.json.id }}/terms  ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "=[120]",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1408,
        384
      ],
      "id": "200c5023-ed94-43e6-bd50-e09002dba94d",
      "name": "Add Tag to Quentn",
      "credentials": {
        "httpBearerAuth": {
          "id": "gBPFMcYMVNcGZUkz",
          "name": "Quentn Bearer Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://qk7fee.eu-4.quentn.com/public/api/v1/contact",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer U6Oa4-zHw6Zel0jJIOumZ2rpqawjvGXJjzsCuqoqJsA"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"contact\" : {\n      \"first_name\" : \"{{ $('Wufoo Trigger').item.json['Name:'].Vorname }}\",\n      \"family_name\" : \"{{ $('Wufoo Trigger').item.json['Name:'].Nachname }}\",\n      \"mail\" : \"{{ $('Wufoo Trigger').item.json['E-Mail-Adresse'] }}\",\t\n      \"request_ip\" : \"{{ $json.ip }}\"\n   },\n   \"duplicate_check_method\" : \"email\",\n   \"duplicate_merge_method\" : \"update_add\",\n   \"return_fields\" : [\n      \"mail_status\",\"mail\",\"first_name\",\"family_name\"\n   ],\n   \"flood_limit\" : 5,\n   \"spam_protection\" : true\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1184,
        480
      ],
      "id": "e0fc2f84-3fda-4339-ac96-5191bbae0adc",
      "name": "Create Quentn Contact",
      "credentials": {
        "httpBearerAuth": {
          "id": "gBPFMcYMVNcGZUkz",
          "name": "Quentn Bearer Auth"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "sending to error output on fail and if it is \"Flood protection\" error, wait 1 minute and retry"
    },
    {
      "parameters": {
        "jsCode": "// Generate a random IPv4 address\nfunction getRandomIP() {\n  return Array.from({ length: 4 }, () => Math.floor(Math.random() * 256)).join('.');\n}\n\nreturn {\n  ip: getRandomIP()\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        480
      ],
      "id": "dfd9c0dc-12f3-43fe-a8ff-a5f0eea52cdd",
      "name": "Generate Random IP"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uJgVKic8z9oLtmvS1wTPAZBY611BjVaIG4td4JrZBwQ",
          "mode": "list",
          "cachedResultName": "n8n Errors",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uJgVKic8z9oLtmvS1wTPAZBY611BjVaIG4td4JrZBwQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Tabellenblatt1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uJgVKic8z9oLtmvS1wTPAZBY611BjVaIG4td4JrZBwQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $now.format('y-mm-dd')}}",
            "time": "={{ $now.format('HH:mm')}}",
            "stacktrace": "={{ $json.error.stack }}",
            "message": "={{ $json.error.message }}",
            "workflow name": "={{ $workflow.name }}",
            "workflow id": "={{$workflow.id }}",
            "execution": "={{ $execution.id }}",
            "node": "=Post To Quentn"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "workflow name",
              "displayName": "workflow name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "workflow id",
              "displayName": "workflow id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "execution",
              "displayName": "execution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "stacktrace",
              "displayName": "stacktrace",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "node",
              "displayName": "node",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1408,
        576
      ],
      "id": "7d676c64-e2d1-4c10-aa9c-fe512bfd5913",
      "name": "log debug info"
    }
  ],
  "connections": {
    "Wufoo Trigger": {
      "main": [
        [
          {
            "node": "Copy file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Generate Random IP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy file": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Quentn Contact": {
      "main": [
        [
          {
            "node": "Add Tag to Quentn",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "log debug info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Random IP": {
      "main": [
        [
          {
            "node": "Create Quentn Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Wufoo Trigger": [
      {
        "json": {
          "Name:": {
            "Vorname": "Hanne ",
            "Nachname": "Bernardy "
          },
          "E-Mail-Adresse": "hanneb1967@t-online.se",
          "Telefonnummer": "004915773757666",
          "Besitzen Sie Immobilien": [
            "Ja"
          ],
          "Optional: Wie viel haben Sie in Immobilien investiert?": [
            "€500.000 - €1.000.000"
          ],
          "Besitzen Sie Wertpapiere?": [
            "Ja"
          ],
          "Optional: Wie viel haben Sie in Wertpapieren investiert? (Aktien, Anleihen, ETFs usw.)": [
            "€50.000 - €100.000"
          ],
          "Besitzen Sie Edelmetalle?": [
            "Ja"
          ],
          "Optional: Wie viel haben Sie in Edelmetalle investiert? (Goldbarren, Münzen, Silber usw.)": [
            "mehr als €100.000"
          ],
          "Besitzen Sie Lebensversicherungen als Rentenvorsorge (oder Bausparverträge)?": [
            "Nein"
          ],
          "Optional: Wie viel zahlen Sie monatlich in diese Lebensversicherung/en ein?": [],
          "Haben Sie Geld auf der Bank?": [
            "Ja"
          ],
          "Optional: Wie viel Geld haben Sie auf der Bank? (Konto, Bausparer usw.)": [
            "mehr als €100.000"
          ],
          "Haben Sie alternative (Sach-)Werte?": [
            "Ja"
          ],
          "Optional: Wie viel haben Sie in alternative Werte investiert? (Krypto, Oldtimer, usw - alles was bisher nicht aufgeschienen ist)": [
            "€10.000 - €50.000"
          ],
          "Anmerkungen, Feedback?": ""
        }
      }
    ]
  },
  "versionId": "2bfae70f-d757-401e-9e9a-eda383950326",
  "triggerCount": 0,
  "tags": []
}