workflows/RAG_Injest_and_Process_File.json
{
  "createdAt": "2025-08-07T23:05:32.898Z",
  "updatedAt": "2025-08-07T23:08:25.000Z",
  "id": "80bvyoXdtHBOp2yR",
  "name": "RAG Injest and Process File",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "ah-media",
          "mode": "list",
          "cachedResultName": "ah-media"
        },
        "options": {
          "pineconeNamespace": "={{ $json.namespace }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        -1168,
        -400
      ],
      "id": "3d7fd911-9e16-415e-a136-a0c4be3651a9",
      "name": "Pinecone Vector Store",
      "alwaysOutputData": true,
      "notesInFlow": false,
      "credentials": {
        "pineconeApi": {
          "id": "x0bN3Ljld6zAEruh",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -1184,
        -176
      ],
      "id": "1b135e0a-4cdb-4382-8e42-eae303f7e27a",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "b1Nz8WxwYDKRmecP",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "splitPages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        -1056,
        -176
      ],
      "id": "b43b9231-3d8b-43ec-8f47-c445f44f76a9",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "separator": "=\\n",
        "chunkSize": 800,
        "chunkOverlap": 100
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -976,
        32
      ],
      "id": "c8028574-0633-479e-9ac3-6ad9f692a377",
      "name": "Character Text Splitter"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "83720de6-7b86-4a53-ba9e-efa0fb9121d0",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2720,
        -304
      ],
      "id": "66226ad8-e91d-4382-98a7-fe651eada67b",
      "name": "Webhook",
      "webhookId": "83720de6-7b86-4a53-ba9e-efa0fb9121d0"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"namespace\": \"{{ $('Inject Namespace').item.json.namespace }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -240,
        -400
      ],
      "id": "d4413729-9d4e-4f8a-98dc-b74a7465d0b6",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "jsCode": "  const adjectives = [\n    \"quick\", \"bright\", \"silent\", \"brave\", \"calm\", \"lucky\", \"sunny\", \"clever\", \"happy\", \"shiny\"\n  ];\n  const nouns = [\n    \"tiger\", \"hill\", \"cloud\", \"river\", \"falcon\", \"stone\", \"tree\", \"flame\", \"wave\", \"trail\"\n  ];\n\n  const adjective = adjectives[Math.floor(Math.random() * adjectives.length)];\n  const noun = nouns[Math.floor(Math.random() * nouns.length)];\n  const number = Math.floor(Math.random() * 10000); // 0 to 9999\n\n  return { namespace: `${adjective}-${noun}-${number}` };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1840,
        -224
      ],
      "id": "0d20eb1d-3c84-44c8-bae7-3c019f676cdc",
      "name": "Generate Namespace"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -688,
        -400
      ],
      "id": "63572303-66cc-4599-8cf8-b43bc65c1407",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Get File Info').first().json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1408,
        -400
      ],
      "id": "c142e332-d81a-4482-b170-17435312680d",
      "name": "Download File",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "fA1w6gMdQ2aJNFpG",
          "name": "adam@adamhaley.com Google Drive"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "84d62751-53eb-4145-9e72-fcd968d12b95",
              "name": "namespace",
              "value": "={{ $('Webhook').item.json.body.namespace || $('Generate Namespace').item.json.namespace }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1616,
        -400
      ],
      "id": "1c4ea4ba-d929-4109-acbb-ae5108046d63",
      "name": "Inject Namespace"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3cb86ff3-683e-4013-94d0-bba50bcc4c0a",
              "leftValue": "={{ $('Webhook').item.json.body.namespace }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2064,
        -304
      ],
      "id": "9dd42394-67c2-46a9-9324-a5e90a414f75",
      "name": "If Namespace with Request"
    },
    {
      "parameters": {
        "inputDataFieldName": "data0",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1zaQwxyD3xd090fwyWq8lSxWVcb1Dmf1Y",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2496,
        -304
      ],
      "id": "894c4783-7966-4662-923d-51e5ba1d9e8e",
      "name": "Upload to Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "fA1w6gMdQ2aJNFpG",
          "name": "adam@adamhaley.com Google Drive"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $json.id }}?fields=*",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2288,
        -304
      ],
      "id": "c2ad7e03-f36a-4b42-b52e-aff006372c17",
      "name": "Get File Info",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "fA1w6gMdQ2aJNFpG",
          "name": "adam@adamhaley.com Google Drive"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2dedd910-8caf-421a-8160-de47286ecfbb",
              "name": "namespace",
              "value": "={{ $('Inject Namespace').item.json.namespace }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -464,
        -400
      ],
      "id": "4d43eae2-566c-4d37-9a28-a3f104b1fa8e",
      "name": "Extract Namespace"
    },
    {
      "parameters": {
        "content": "## Ingest File\n",
        "height": 700,
        "width": 660
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2800,
        -544
      ],
      "id": "9232dedc-e6f6-4ced-b763-bc6259a5fe21",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Manage Namespace for Multi-tenancy\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nIf a namespace came in with the webhook call, use that namespace. Otherwise we need to generate a namespace (see code node).\nNamespace is generated with a random adjective, noun, and number. This balance the best-of-both worlds of having a human-readable name, and also low likelihood of collisions.\n ",
        "height": 700,
        "width": 660,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2128,
        -544
      ],
      "id": "be7d86cf-4b52-40c8-9ff4-f9daf7995b92",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Document Loading and Vector Embedding\n",
        "height": 700,
        "width": 700,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1440,
        -544
      ],
      "id": "1ef93a4d-1284-49e0-848d-273b8d07e704",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Return Data\n",
        "height": 700,
        "width": 660,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -720,
        -544
      ],
      "id": "0a126b29-ae97-4214-814a-33dc30da8b91",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## RAG Injest and Process File (multi-tenant)",
        "height": 120,
        "width": 640,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2800,
        -896
      ],
      "id": "4393e612-9cc3-40b9-909d-77af9c76662a",
      "name": "Sticky Note4"
    }
  ],
  "connections": {
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Upload to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Namespace": {
      "main": [
        [
          {
            "node": "Inject Namespace",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Extract Namespace",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inject Namespace": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Namespace with Request": {
      "main": [
        [
          {
            "node": "Inject Namespace",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Namespace",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Google Drive": {
      "main": [
        [
          {
            "node": "Get File Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File Info": {
      "main": [
        [
          {
            "node": "If Namespace with Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Namespace": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Google Drive Trigger": {
      "lastTimeChecked": "2025-05-15T00:59:26Z"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "c2b7d6bb-1ddb-486d-b72e-b67e79542504",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-08-07T23:05:32.906Z",
      "updatedAt": "2025-08-07T23:05:32.906Z",
      "role": "workflow:owner",
      "workflowId": "80bvyoXdtHBOp2yR",
      "projectId": "nZwUmEIL638ig6xE"
    }
  ],
  "tags": []
}