workflows/RAG_Ingest_and_Process_File.json
{
  "createdAt": "2025-04-18T20:03:03.830Z",
  "updatedAt": "2025-05-22T19:44:41.000Z",
  "id": "GmeUFdXNPBAPvpmO",
  "name": "RAG Ingest and Process File",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "ah-media",
          "mode": "list",
          "cachedResultName": "ah-media"
        },
        "options": {
          "pineconeNamespace": "={{ $json.namespace }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        -1164,
        -400
      ],
      "id": "1469e45b-bdac-42d9-811e-5f255bf04301",
      "name": "Pinecone Vector Store",
      "alwaysOutputData": true,
      "notesInFlow": false,
      "credentials": {
        "pineconeApi": {
          "id": "x0bN3Ljld6zAEruh",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -1180,
        -180
      ],
      "id": "ebe7b232-0d4e-4f96-a26d-59e8458d997b",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "b1Nz8WxwYDKRmecP",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "splitPages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        -1060,
        -177.5
      ],
      "id": "6a64dc07-9255-42dd-a61e-db0bfa32f430",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "separator": "=\\n",
        "chunkSize": 800,
        "chunkOverlap": 100
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -972,
        20
      ],
      "id": "898f2b2a-f7ad-4d96-b3c8-63d1cb80a8d0",
      "name": "Character Text Splitter"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Query File').first().json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1400,
        -400
      ],
      "id": "10aee22b-dfa0-4506-842e-ac82cd523cef",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "fA1w6gMdQ2aJNFpG",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fded596d-4a61-4fd2-90a4-006df43136bf",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2720,
        -300
      ],
      "id": "7bd02bd1-311e-4913-b35f-a1a2d6d6609a",
      "name": "Webhook",
      "webhookId": "fded596d-4a61-4fd2-90a4-006df43136bf"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"namespace\": \"{{ $json.data }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1620,
        -175
      ],
      "id": "01a41990-c15b-49dc-b0ab-6472c34cdb36",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "inputDataFieldName": "data0",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1zaQwxyD3xd090fwyWq8lSxWVcb1Dmf1Y",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2500,
        -300
      ],
      "id": "0e628de4-969e-4246-ae7e-de5790cd2ec9",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "fA1w6gMdQ2aJNFpG",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $json.id }}?fields=*",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2280,
        -300
      ],
      "id": "c4b1a714-7235-46e6-9a7f-84c04384c4ae",
      "name": "Query File",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "fA1w6gMdQ2aJNFpG",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "url": "http://ahmedia.ai:8000/generate-name",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1840,
        -225
      ],
      "id": "f78b79dd-295b-477f-bf01-b027867c18c8",
      "name": "Get Unique Namespace"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3cb86ff3-683e-4013-94d0-bba50bcc4c0a",
              "leftValue": "={{ $('Webhook').item.json.body.namespace }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2060,
        -300
      ],
      "id": "496e814b-5bc5-4434-afd6-cd1e253bedc1",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "84d62751-53eb-4145-9e72-fcd968d12b95",
              "name": "namespace",
              "value": "={{ $('Webhook').item.json.body.namespace || $('Get Unique Namespace').first().json.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1620,
        -400
      ],
      "id": "24965868-cdf5-4252-95cb-225f7d4e88e9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"namespace\": \"{{ $('Edit Fields').item.json.namespace }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -464,
        -400
      ],
      "id": "d5b825fc-4238-45ad-81d2-d5db89402ca1",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2dedd910-8caf-421a-8160-de47286ecfbb",
              "name": "namespace",
              "value": "={{ $('Edit Fields').item.json.namespace }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -684,
        -400
      ],
      "id": "7c24f0ad-e1c1-4d32-8175-d32a762d3789",
      "name": "Edit Fields1"
    }
  ],
  "connections": {
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Query File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query File": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Unique Namespace": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Unique Namespace",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Google Drive Trigger": {
      "lastTimeChecked": "2025-05-15T00:59:26Z"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "324fe6e9-3304-44b9-8611-2e676ce77a89",
  "triggerCount": 1,
  "tags": []
}