workflows/Resume_Generator.json
{
  "name": "Resume Generator",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -580,
        0
      ],
      "id": "575cb600-cfde-46b7-8a49-6f3cabbfa260",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1GaAVqQmK45QCrCtHTxJLaQBKN2P6gdntYnaarpTE8HA",
          "mode": "list",
          "cachedResultName": "Resume SOURCE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GaAVqQmK45QCrCtHTxJLaQBKN2P6gdntYnaarpTE8HA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "Work History",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -360,
        0
      ],
      "id": "6ff899aa-cc28-4bc8-a6b8-f5c5fcaac598",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XEt20yHVtBArkULc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "adamhaley",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "adamhaley-com",
          "mode": "list",
          "cachedResultName": "adamhaley-com",
          "cachedResultUrl": "https://github.com/adamhaley/adamhaley-com"
        },
        "filePath": "data/resume.json",
        "fileContent": "={{ JSON.stringify( $json.data, '', 2 ) }}",
        "commitMessage": "=updates to resume.json {{ $now }}",
        "additionalParameters": {
          "branch": {
            "branch": "master"
          }
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        80,
        0
      ],
      "id": "b076bbf1-c9b2-441e-9e9a-0c70282a4fa9",
      "name": "GitHub",
      "credentials": {
        "githubApi": {
          "id": "Jvt1VN8GL1z1M8pS",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -140,
        0
      ],
      "id": "093ae441-2cdc-4cf0-bdb2-19087f4cc0e4",
      "name": "Aggregate"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3965f778-6762-4e48-a7bd-3a1d88702dec",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9eba4434b08a3b38c7a52d54228c736501f146e2a8d1b314568ff999759dcb0e"
  },
  "id": "Q1HVkL2oehj9cSlc",
  "tags": []
}