workflows/Resume_Generator.json
{
  "name": "Resume Generator",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1GaAVqQmK45QCrCtHTxJLaQBKN2P6gdntYnaarpTE8HA",
          "mode": "list",
          "cachedResultName": "Resume SOURCE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GaAVqQmK45QCrCtHTxJLaQBKN2P6gdntYnaarpTE8HA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "Work History",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -720,
        -260
      ],
      "id": "6ff899aa-cc28-4bc8-a6b8-f5c5fcaac598",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XEt20yHVtBArkULc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "adamhaley",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "adamhaley-com",
          "mode": "list",
          "cachedResultName": "adamhaley-com",
          "cachedResultUrl": "https://github.com/adamhaley/adamhaley-com"
        },
        "filePath": "data/resume.json",
        "fileContent": "={{ JSON.stringify( $json.data, '', 2 ) }}",
        "commitMessage": "=updates to resume.json {{ $now }}",
        "additionalParameters": {
          "branch": {
            "branch": "master"
          }
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -280,
        -260
      ],
      "id": "b076bbf1-c9b2-441e-9e9a-0c70282a4fa9",
      "name": "GitHub",
      "credentials": {
        "githubApi": {
          "id": "Jvt1VN8GL1z1M8pS",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -500,
        -260
      ],
      "id": "093ae441-2cdc-4cf0-bdb2-19087f4cc0e4",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1GaAVqQmK45QCrCtHTxJLaQBKN2P6gdntYnaarpTE8HA",
          "mode": "list",
          "cachedResultName": "Resume SOURCE",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GaAVqQmK45QCrCtHTxJLaQBKN2P6gdntYnaarpTE8HA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1590795213,
          "mode": "list",
          "cachedResultName": "Work History",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GaAVqQmK45QCrCtHTxJLaQBKN2P6gdntYnaarpTE8HA/edit#gid=1590795213"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -940,
        -160
      ],
      "id": "f15fd056-9baf-4179-b439-c7e2ed9a94ad",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "sQ5tgNUU4rrOP3uy",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -940,
        -360
      ],
      "id": "7ef56bd5-3404-47fb-bdfd-a0b709f33dc0",
      "name": "When clicking ‘Test workflow’"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c454185c-7ad1-438a-947b-c0d88a5e79b2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9eba4434b08a3b38c7a52d54228c736501f146e2a8d1b314568ff999759dcb0e"
  },
  "id": "Q1HVkL2oehj9cSlc",
  "tags": []
}