workflows/Telegram_Chat.json
{
  "name": "Telegram Chat",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -860,
        -280
      ],
      "id": "8dcab711-5786-4dfd-b083-cb4fa75b0cc2",
      "name": "Telegram Trigger",
      "webhookId": "aac89fdd-865b-4f9b-9875-75909cc27924",
      "credentials": {
        "telegramApi": {
          "id": "Up0ePNUE4mWLrzEL",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": "gemma3:1b",
        "options": {
          "format": "default"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        708,
        -60
      ],
      "id": "5f8cbc96-d9cc-4a2f-ad9a-9150d5237b10",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "b1Nz8WxwYDKRmecP",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "sessionKey": ""
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        828,
        -60
      ],
      "id": "8cf07e6e-e971-400a-9e6f-39f35d98a1fb",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "id": "722acebd-ac86-4d55-ad17-fb96a820c00c",
      "name": "Data",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        460,
        -280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "a7b94cfd-bd75-4a87-82f2-d903129bd236",
              "leftValue": "={{ $json.body.sessionId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "ef39811f-aab0-4f58-8e8e-a7a52e6a1e50",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": false
        }
      },
      "id": "12f58e00-c212-4c40-b1db-5c4006a14967",
      "name": "If has SessionId",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        20,
        -280
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d23dcfe6-87e4-4dad-b9cc-c1bbb52291eb",
              "name": "sessionId",
              "value": "={{ $json.body.sessionId }}",
              "type": "string"
            },
            {
              "id": "90072504-b82a-4514-93ec-7d907397361c",
              "name": "contactMessage",
              "value": "={{ $json.body.contactMessage }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "235b763e-7323-498e-8335-0697630c6eb8",
      "name": "Set with SessionId",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        240,
        -380
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d23dcfe6-87e4-4dad-b9cc-c1bbb52291eb",
              "name": "sessionId",
              "value": "={{(+new Date).toString(36).slice(-5) + Math.random().toString(36).substr(2, 5)}}",
              "type": "string"
            },
            {
              "id": "90072504-b82a-4514-93ec-7d907397361c",
              "name": "contactMessage",
              "value": "={{ $json.msg }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2ec02cd9-bb26-4dfd-b085-68ac8a5b3676",
      "name": "Set with GeneratedID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        240,
        -180
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.contactMessage }} ",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a helpful assistant. You are friendly and eager to connect and be useful. do not use emoji characters in your output. Structure the response in a way that is clear and concise for TTS."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        680,
        -280
      ],
      "id": "247de43d-0e0b-41e6-a85c-9e0725fc5256",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $('AI Agent').item.json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1496,
        -280
      ],
      "id": "de3ac29a-17cf-4569-b480-fba7d2de4f30",
      "name": "Telegram",
      "webhookId": "531a0f31-0dd2-4cfa-80cc-0ac6e12e595d",
      "credentials": {
        "telegramApi": {
          "id": "Up0ePNUE4mWLrzEL",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "a8116d0d-5bdb-49da-8984-08a077e816ae"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cb242f13-0ce2-4645-9a69-6d9816104485",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -640,
        -280
      ],
      "id": "b5b9be44-1c31-4689-bf1f-b2832f6b8c3a",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -420,
        -355
      ],
      "id": "098aedb9-0eec-4bfe-9960-142728654cc8",
      "name": "Telegram1",
      "webhookId": "d6239fda-b394-43c7-87b8-889f340989e6",
      "credentials": {
        "telegramApi": {
          "id": "Up0ePNUE4mWLrzEL",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ahmedia.ai:8000/transcribe",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -200,
        -355
      ],
      "id": "cdcc7627-783e-4753-b9dc-dfb8d33065d2",
      "name": "Transcribe Voice"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cartesia.ai/tts/bytes",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cartesia-Version",
              "value": "2024-06-10"
            },
            {
              "name": "X-API-Key",
              "value": "=sk_car_FEPKyLLq2FihfqZ3G1aHyA"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model_id\": \"sonic-2\",\n  \"transcript\": \"{{  $json.output }}\",\n  \"voice\": {\n    \"mode\": \"id\",\n    \"id\": \"ac15038c-c796-4b8f-b006-d63e7aa53e1c\"\n  },\n  \"output_format\": {\n    \"container\": \"mp3\",\n   \"bit_rate\": 128000,\n    \"sample_rate\": 44100\n  },\n  \"language\": \"en\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -860,
        -640
      ],
      "id": "972b5599-f4f2-467b-9b7b-d3215befe603",
      "name": "Cartesia TTS"
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {
          "fileName": "reply.mp3"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1276,
        -280
      ],
      "id": "0854b2c3-dd1f-4b66-84b0-d9571c705970",
      "name": "Telegram2",
      "webhookId": "660355ff-7f58-4b7a-b966-21497023ff9d",
      "credentials": {
        "telegramApi": {
          "id": "Up0ePNUE4mWLrzEL",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ahmedia.ai:8000/tts",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "msg",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1056,
        -280
      ],
      "id": "335e9112-cf8f-4508-956e-e022c31ebb66",
      "name": "Cartesia TTS via Flask"
    }
  ],
  "pinData": {
    "Transcribe Voice": [
      {
        "json": {
          "msg": "Hi, how are you?\n"
        }
      }
    ]
  },
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Data": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If has SessionId": {
      "main": [
        [
          {
            "node": "Set with SessionId",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set with GeneratedID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set with SessionId": {
      "main": [
        [
          {
            "node": "Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set with GeneratedID": {
      "main": [
        [
          {
            "node": "Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Cartesia TTS via Flask",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If has SessionId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram1": {
      "main": [
        [
          {
            "node": "Transcribe Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Voice": {
      "main": [
        [
          {
            "node": "If has SessionId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cartesia TTS": {
      "main": [
        []
      ]
    },
    "Telegram2": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cartesia TTS via Flask": {
      "main": [
        [
          {
            "node": "Telegram2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "43074dc7-7cbb-481c-8df7-8c73b746307c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9eba4434b08a3b38c7a52d54228c736501f146e2a8d1b314568ff999759dcb0e"
  },
  "id": "G0Vk5kYZGi0nCI12",
  "tags": []
}