workflows/Travel_COmpetitor_Scraper.json
{
  "createdAt": "2025-07-15T20:12:31.984Z",
  "updatedAt": "2025-07-15T20:17:37.000Z",
  "id": "bNSqvZUdcA256LIJ",
  "name": "Travel COmpetitor Scraper",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "url": "https://1000ut.hu/korutazas",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "id": "559fa997-b414-4128-8ef1-cb10c07301c1",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "data",
              "cssSelector": ".a-box",
              "returnValue": "html",
              "returnArray": true
            }
          ]
        },
        "options": {
          "trimValues": true
        }
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        440,
        0
      ],
      "id": "c0941bca-f936-4f19-8c37-062f85d789bb",
      "name": "HTML",
      "executeOnce": false
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "country",
              "cssSelector": ".country-name"
            },
            {
              "key": "dates",
              "cssSelector": ".date-from-to"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        880,
        0
      ],
      "id": "52a62020-022f-468f-92e6-73606889697b",
      "name": "HTML1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        660,
        0
      ],
      "id": "10c8ee61-6302-46a1-ac71-df47c4ca2c98",
      "name": "Split Out"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Filter the incoming dates in this JSON: {{ JSON.stringify( $json.data ) }} and country by the query in {{ JSON.stringify( $('When Executed by Another Workflow').item.json.query ) }}. ",
        "messages": {
          "messageValues": [
            {
              "message": "=You are an expert travel parser. You need will be given incoming json with country and dates as well as a search query. Return the results in structured JSON similar to the incoming json. include a) full matches (ie: both country and dates match the incoming query) and partial matches (ie: the country matches but the dates do not match the incoming query). DO not return results where the dates match but the countries do not match. "
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1320,
        0
      ],
      "id": "ae97bf81-09f9-4043-83f6-6e6484a25131",
      "name": "Basic LLM Chain",
      "executeOnce": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1400,
        220
      ],
      "id": "473eeded-8a07-4999-9fd1-853be3091792",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "5GRgzlcJ5Ujkvgcd",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1100,
        0
      ],
      "id": "680a9cdd-0278-4262-9549-c3fbd9734705",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "2a6d34d0-2efe-4654-b27a-6ef28e968904",
      "name": "When Executed by Another Workflow"
    }
  ],
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "9967b970-5f46-41fe-a291-0995568fa446",
  "triggerCount": 0,
  "tags": []
}