workflows/Twitter_Thread_Fetcher_copy.json
{
  "createdAt": "2025-08-05T16:57:20.397Z",
  "updatedAt": "2025-08-05T17:40:50.000Z",
  "id": "y8JVuVU77yfRCkIc",
  "name": "Twitter Thread Fetcher copy",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -704,
        384
      ],
      "id": "e7ea8a00-1072-4af4-a018-475bc663bdc5",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "content": "## Extract first tweet and entire thread that follows in replies\n",
        "height": 612,
        "width": 632,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -528,
        160
      ],
      "id": "72e1755e-e907-4b0a-bb89-40da65789ae1",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -704,
        192
      ],
      "id": "3a08d83a-36e8-48f6-b5bb-60649f3de0b9",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "content": "## Extract Tweet Context\n- Extracts  IDtweet conversation by first Tweet",
        "height": 280,
        "width": 632,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -528,
        -144
      ],
      "typeVersion": 1,
      "id": "47fa4e27-ee03-4662-b9d3-63accc9b4bf0",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Input\n- You can trigger this workflow from another workspace\n- You can set manual trigger to test how it works\n- Suggestion: \nCreate another workflow, which gets input from twitter, notion, spreadsheet etc\nThen calls this workflow to fetch threads\n\nThis workflow will return all fetched tweets end of the pipeline",
        "height": 1192,
        "width": 312,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -864,
        -144
      ],
      "typeVersion": 1,
      "id": "0920a6b9-d069-42ba-872a-dfa69d4ba924",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "17DF55P-ea0u3XLPs1sbi7RAW34mJJSHv5G7d6S9aTwg",
          "mode": "list",
          "cachedResultName": "Tweets To Scrape",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17DF55P-ea0u3XLPs1sbi7RAW34mJJSHv5G7d6S9aTwg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1177738232,
          "mode": "list",
          "cachedResultName": "tweets-to-scrape",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17DF55P-ea0u3XLPs1sbi7RAW34mJJSHv5G7d6S9aTwg/edit#gid=1177738232"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -464,
        384
      ],
      "id": "48aa73f4-8810-4bf7-bdba-db65d651d27f",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dFntNaEYJAOsYZIZ",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1vb4g8FQSpXkiFD9XA32RdCgrv7EsfgxubmD4REu0Pns",
          "mode": "list",
          "cachedResultName": "Tweets Metadata",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vb4g8FQSpXkiFD9XA32RdCgrv7EsfgxubmD4REu0Pns/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vb4g8FQSpXkiFD9XA32RdCgrv7EsfgxubmD4REu0Pns/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Video Path": "={{ $json.webViewLink }}",
            "Top Level Tweet": "={{ $('Split Out2').item.json.text }}",
            "Author": "={{ $('Split Out2').item.json.author.userName }}",
            "Tweet Thread": "="
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Top Level Tweet",
              "displayName": "Top Level Tweet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Author",
              "displayName": "Author",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tweet Thread",
              "displayName": "Tweet Thread",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Video Path",
              "displayName": "Video Path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        640,
        912
      ],
      "id": "986acf79-3ccf-49ae-9c20-a031d32e3252",
      "name": "Store Tweet Meta-Data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dFntNaEYJAOsYZIZ",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.videoUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1312,
        1040
      ],
      "id": "44b4aac1-5c79-4885-a0e9-80436961862e",
      "name": "Get Video FIles from APIFY"
    },
    {
      "parameters": {
        "name": "={{ $('APIFY Video Download Actor').item.json.id }}.mp4",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        416,
        912
      ],
      "id": "e6459161-b0a5-4ec3-a16e-a53816559078",
      "name": "Upload Files to Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "reZwBdwR7JImRDL0",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const url = $json.tweet_url;\nconst match = url.match(/x\\.com\\/([^\\/]+)\\/status\\/(\\d+)/) || url.match(/twitter\\.com\\/([^\\/]+)\\/status\\/(\\d+)/);\nif (!match) throw new Error('Invalid tweet URL');\nreturn {\n  tweet_id: match[2],\n  username: match[1]\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        384
      ],
      "id": "d35d7886-d1fe-4d64-9944-c11cc67f5423",
      "name": "Extract Tweet ID and Username"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## Upload files to Google Drive and store Metadata \n- Download video from Twitter using Apify Actor\n- Copy Video file from APIFY to GOogle Drive\n- Store Tweet content and Metadata",
        "height": 496,
        "width": 1200,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -384,
        800
      ],
      "id": "fff5d739-1b07-4c83-b844-4f166d47481e",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/bytepulselabs~x-video-downloader/run-sync-get-dataset-items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"proxy\": {\n        \"useApifyProxy\": false\n    },\n    \"urls\": [\n        {\n            \"url\": \"{{ $json.url }}\",\n            \"method\": \"GET\"\n        }\n    ]\n} ",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 5
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1376,
        816
      ],
      "id": "3799101b-c844-4b98-8882-73698434bf83",
      "name": "APIFY Video Download Actor",
      "credentials": {
        "httpQueryAuth": {
          "id": "dOZ2chSOOuVpb5qW",
          "name": "APIFY 2"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.twitterapi.io/twitter/tweet/thread_context",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "tweetId",
              "value": "={{ $json.tweet_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -16,
        384
      ],
      "id": "70466815-778a-4800-bc98-d088c14040c3",
      "name": "Load Tweet Context",
      "credentials": {
        "httpHeaderAuth": {
          "id": "lVKFxR2s5cquKAeb",
          "name": "TWITTERAPI.IO HEADER AUTH"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "tweets",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        640,
        384
      ],
      "id": "aa835765-b3d6-4ad7-8ee7-5749546ad106",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "content": "## Spli Out",
        "height": 288,
        "width": 688,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        128,
        -144
      ],
      "id": "e0b19d73-9352-411c-86a2-77e662f20a74",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Spli out replies\n",
        "height": 608,
        "width": 688,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        128,
        160
      ],
      "id": "e1fe8c69-001c-4132-bea2-0aaf5d7e508f",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "17DF55P-ea0u3XLPs1sbi7RAW34mJJSHv5G7d6S9aTwg",
          "mode": "list",
          "cachedResultName": "Tweets To Scrape",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17DF55P-ea0u3XLPs1sbi7RAW34mJJSHv5G7d6S9aTwg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1177738232,
          "mode": "list",
          "cachedResultName": "tweets-to-scrape",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17DF55P-ea0u3XLPs1sbi7RAW34mJJSHv5G7d6S9aTwg/edit#gid=1177738232"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -704,
        592
      ],
      "id": "9a36f489-1645-400f-adb0-fb0e3df7803e",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "m1ZtqUedkLuUD9Oz",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "actorId": {
          "__rl": true,
          "value": "JOgEdu6j61eqvVsRC",
          "mode": "list",
          "cachedResultName": "X (Twitter) Video Downloader (bytepulselabs/x-video-downloader)",
          "cachedResultUrl": "https://console.apify.com/actors/JOgEdu6j61eqvVsRC/input"
        },
        "customBody": "={\n    \"proxy\": {\n        \"useApifyProxy\": false\n    },\n    \"urls\": [\n        {\n            \"url\": \"{{ $json.url }}\",\n            \"method\": \"GET\"\n        }\n    ]\n} "
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        -240,
        912
      ],
      "id": "abdb2a41-595a-4a55-8b0e-36beca69977a",
      "name": "Download Tweet Videos",
      "retryOnFail": true,
      "credentials": {
        "apifyApi": {
          "id": "dh2WW5qry105DFGj",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Datasets"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        -1120,
        1200
      ],
      "id": "de2e10a4-c640-41cf-908e-cfabd609e8bd",
      "name": "Get dataset items",
      "credentials": {
        "apifyApi": {
          "id": "dh2WW5qry105DFGj",
          "name": "Apify account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Extract Tweet ID and Username",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Tweet Meta-Data": {
      "main": [
        []
      ]
    },
    "Get Video FIles from APIFY": {
      "main": [
        []
      ]
    },
    "Upload Files to Google Drive": {
      "main": [
        [
          {
            "node": "Store Tweet Meta-Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Tweet ID and Username": {
      "main": [
        [
          {
            "node": "Load Tweet Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "APIFY Video Download Actor": {
      "main": [
        []
      ]
    },
    "Load Tweet Context": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Download Tweet Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Extract Tweet ID and Username",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Tweet Videos": {
      "main": [
        [
          {
            "node": "Upload Files to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get dataset items": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When clicking ‘Test workflow’": [
      {
        "json": {
          "tweet_url": ""
        }
      }
    ]
  },
  "versionId": "7406dd97-5672-40f8-935b-2f11fe0f58a5",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-08-05T16:57:20.407Z",
      "updatedAt": "2025-08-05T16:57:20.407Z",
      "role": "workflow:owner",
      "workflowId": "y8JVuVU77yfRCkIc",
      "projectId": "nZwUmEIL638ig6xE"
    }
  ],
  "tags": []
}