workflows/Upwork_Email.json
{
  "createdAt": "2025-08-08T23:42:11.715Z",
  "updatedAt": "2025-08-08T23:42:11.000Z",
  "id": "EJY0iRiotSi4imy2",
  "name": "Upwork Email",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "data",
              "type": "array"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "150b22bf-65b8-42c0-bd23-c82fa7874bc2",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "id": "cfb3dbcb-eb73-441d-be5e-e578c87e7211",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        0
      ],
      "id": "707db0e1-b825-432a-a497-c39495704751",
      "name": "Code"
    },
    {
      "parameters": {
        "fromEmail": "info@ahmedia.ai",
        "toEmail": "adamhaley@gmail.com",
        "subject": "New Upwork Posts",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        640,
        0
      ],
      "id": "9dcdcb54-626a-4f15-b9b5-426bdeb5dcbf",
      "name": "Send email",
      "webhookId": "2b636e6e-401f-40e6-9766-1fe3c797b90d",
      "credentials": {
        "smtp": {
          "id": "184zfe9H1Rf34NpO",
          "name": "AHMedia SMTP account"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "909b9fe6-2ee0-4973-af65-06f11bb0ca89",
  "triggerCount": 0,
  "tags": []
}