workflows/Wufoo_->_Google_Docs_->_Google_Sheets_->_Quentin.json
{
  "createdAt": "2025-07-21T16:55:15.356Z",
  "updatedAt": "2025-08-03T00:10:19.000Z",
  "id": "lqQv2l6wwUHY9Nlf",
  "name": "Wufoo -> Google Docs -> Google Sheets -> Quentin",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "form": "r1ktp8om0ykx345"
      },
      "type": "n8n-nodes-base.wufooTrigger",
      "typeVersion": 1,
      "position": [
        656,
        64
      ],
      "id": "149b8751-4cc1-4da2-884d-8602caa4ec8d",
      "name": "Wufoo Trigger",
      "webhookId": "602021a6-36dc-40ac-a071-2a49afd03ad0"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1KxtAEY0Ch2jv9aVKQU3xnjU8vMTsHcRbkXwg83JRJg8",
          "mode": "list",
          "cachedResultName": "Q4-Vermögensschutz Anfragen",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KxtAEY0Ch2jv9aVKQU3xnjU8vMTsHcRbkXwg83JRJg8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Tabellenblatt1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KxtAEY0Ch2jv9aVKQU3xnjU8vMTsHcRbkXwg83JRJg8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('Wufoo Trigger').item.json['Name:'].Vorname}} {{ $('Wufoo Trigger').item.json['Name:'].Nachname }}",
            "Email": "={{ $('Wufoo Trigger').item.json['E-Mail-Adresse'] }}",
            "Telefon": "={{ $('Wufoo Trigger').item.json.Telefonnummer }}",
            "Immo": "={{ $('Wufoo Trigger').item.json['Besitzen Sie Immobilien'][0] }}",
            "Immo - Wie viel ": "={{ $('Wufoo Trigger').item.json['Optional: Wie viel haben Sie in Immobilien investiert?'].first() }}",
            "Wertpapiere": "={{ $('Wufoo Trigger').item.json['Besitzen Sie Wertpapiere?'].first() }}",
            "Wertpapiere - Wie viel": "={{ $('Wufoo Trigger').item.json['Optional: Wie viel haben Sie in Wertpapieren investiert? (Aktien, Anleihen, ETFs usw.)'].first() }}",
            "Edelmetalle": "={{ $('Wufoo Trigger').item.json['Besitzen Sie Edelmetalle?'].first() }}",
            "Edelmetalle -  Wie viel": "={{ $('Wufoo Trigger').item.json['Optional: Wie viel haben Sie in Edelmetalle investiert? (Goldbarren, Münzen, Silber usw.)'].first() }}",
            "Datum": "={{ $now.format('y-MM-d H:m:ss') }}",
            "LV": "={{ $('Wufoo Trigger').item.json['Besitzen Sie Lebensversicherungen als Rentenvorsorge (oder Bausparverträge)?'].first() }}",
            "LV - Wie viel": "={{ $('Wufoo Trigger').item.json['Optional: Wie viel zahlen Sie monatlich in diese Lebensversicherung/en ein?'].first() }}",
            "Bank": "={{ $('Wufoo Trigger').item.json['Haben Sie Geld auf der Bank?'].first() }}",
            "Bank - Wie viel": "={{ $('Wufoo Trigger').item.json['Optional: Wie viel Geld haben Sie auf der Bank? (Konto, Bausparer usw.)'].first()}}",
            "Alternative": "={{ $('Wufoo Trigger').item.json['Haben Sie alternative (Sach-)Werte?'].first()}}",
            "Alternative - Wie viel": "={{ $('Wufoo Trigger').item.json['Optional: Wie viel haben Sie in alternative Werte investiert? (Krypto, Oldtimer, usw - alles was bisher nicht aufgeschienen ist)'].first() }}",
            "Anmerkungen": "={{ $('Wufoo Trigger').item.json['Anmerkungen, Feedback?'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefon",
              "displayName": "Telefon",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Immo",
              "displayName": "Immo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Immo - Wie viel ",
              "displayName": "Immo - Wie viel ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Wertpapiere",
              "displayName": "Wertpapiere",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Wertpapiere - Wie viel",
              "displayName": "Wertpapiere - Wie viel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Edelmetalle",
              "displayName": "Edelmetalle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Edelmetalle -  Wie viel",
              "displayName": "Edelmetalle -  Wie viel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LV",
              "displayName": "LV",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LV - Wie viel",
              "displayName": "LV - Wie viel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Bank",
              "displayName": "Bank",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Bank - Wie viel",
              "displayName": "Bank - Wie viel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Alternative",
              "displayName": "Alternative",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Alternative - Wie viel",
              "displayName": "Alternative - Wie viel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Anmerkungen",
              "displayName": "Anmerkungen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Datum",
              "displayName": "Datum",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Datum in schön",
              "displayName": "Datum in schön",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "VERSCHICKT",
              "displayName": "VERSCHICKT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Gefädungspotential",
              "displayName": "Gefädungspotential",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "erreicht nach einer Woche?",
              "displayName": "erreicht nach einer Woche?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "GFA gekauft?",
              "displayName": "GFA gekauft?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "verkauf durch",
              "displayName": "verkauf durch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1248,
        64
      ],
      "id": "7714adf4-6893-4515-9fb1-6e3c6305edba",
      "name": "Append row in sheet"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://qk7fee.eu-4.quentn.com/public/api/v1/contact",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer U6Oa4-zHw6Zel0jJIOumZ2rpqawjvGXJjzsCuqoqJsA"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n   \"contact\" : {\n      \"first_name\" : \"{{ $('Wufoo Trigger').item.json['Name:'].Vorname }}\",\n      \"family_name\" : \"{{ $('Wufoo Trigger').item.json['Name:'].Nachname }}\",\n      \"mail\" : \"{{ $('Wufoo Trigger').item.json['E-Mail-Adresse'] }}\",\t\n      \"request_ip\" : \"123.123.123.123\"\n   },\n   \"duplicate_check_method\" : \"email\",\n   \"duplicate_merge_method\" : \"update_add\",\n   \"return_fields\" : [\n      \"mail_status\",\"mail\",\"first_name\",\"family_name\"\n   ],\n   \"flood_limit\" : 5,\n   \"spam_protection\" : true\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1504,
        64
      ],
      "id": "12d05c58-1e4b-42a9-b962-0214d31cd076",
      "name": "Post to Quentn"
    },
    {
      "parameters": {
        "content": "## Wufoo Form - Collect Data",
        "height": 320,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        592,
        -48
      ],
      "id": "527e6fa1-ca37-45d3-a28b-f322034c2488",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Create Doc from Template\nCopy new doc from template and update values",
        "height": 320,
        "width": 336,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        832,
        -48
      ],
      "id": "182f11db-3cff-4ac5-addc-7a3805990840",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Append row to Google Sheet",
        "height": 320,
        "width": 224,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1184,
        -48
      ],
      "id": "4ae1a448-8042-418f-9f21-0c1813bef807",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Add Quentn Contact\n",
        "height": 320,
        "width": 272,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1424,
        -48
      ],
      "id": "60d9f333-02dd-4562-96e1-1c3b1dc0293f",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Q4-Vermögensschutz Schnellcheck SCHRITT 1 - WUFOO\n\n- Triggers on a new Wufoo form submission\nGenerates a personalized Google Doc based on the respondent's name\n- Appends form data (name, email, phone, real estate holdings, etc.) to a central Google Sheet for internal tracking\n- Sends contact info to Quentn CRM via API to update or create a contact record\n",
        "height": 224,
        "width": 1104,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        592,
        -288
      ],
      "id": "bb7a7186-52d8-4d44-9265-6002794fafc2",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1-DivBvHLX_vV_dtBE9L8VdX5xBK8yRDSLw4_lccuH00",
          "mode": "list",
          "cachedResultName": "Vermögensschutz-Schnell-Check Markus Dan",
          "cachedResultUrl": "https://docs.google.com/document/d/1-DivBvHLX_vV_dtBE9L8VdX5xBK8yRDSLw4_lccuH00/edit?usp=drivesdk"
        },
        "name": "=n8n-Vermögens-Schnell-Check_{{ $json['Name:'].Vorname }} {{ $json['Name:'].Nachname }}",
        "sameFolder": false,
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1tB-f7Nqhhi36ClWDcwUJp4l1mroBWWMk",
          "mode": "list",
          "cachedResultName": "Q4-Vermögensschutz-Schnell-Check",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1tB-f7Nqhhi36ClWDcwUJp4l1mroBWWMk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        864,
        64
      ],
      "id": "7e43983c-dc52-4fbc-8c56-ee4110778cac",
      "name": "Copy file"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "simple": false,
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": " {{Name}}",
              "replaceText": "={{ $('Wufoo Trigger').item.json[\"Name:\"].Vorname }} {{ $('Wufoo Trigger').item.json[\"Name:\"].Nachname }}",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "{{Email}}",
              "replaceText": "={{ $('Wufoo Trigger').item.json[\"E-Mail-Adresse\"] }}",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "{{Telefonnummer}}",
              "replaceText": "={{ $('Wufoo Trigger').item.json.Telefonnummer }}",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "{{Besitz_Immobilien}}",
              "replaceText": "={{ $('Wufoo Trigger').item.json[\"Besitzen Sie Immobilien\"].first() }}",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "{{Invest_Immobilien}}",
              "replaceText": "={{ $('Wufoo Trigger').item.json[\"Optional: Wie viel haben Sie in Immobilien investiert?\"].first() }}",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "{{Besitz_Wertpapiere}}",
              "replaceText": "={{ $('Wufoo Trigger').item.json[\"Besitzen Sie Wertpapiere?\"].first() }}",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "{{Invest_Wertpapiere}}",
              "replaceText": "={{ $('Wufoo Trigger').item.json[\"Optional: Wie viel haben Sie in Wertpapieren investiert? (Aktien, Anleihen, ETFs usw.)\"].first() }}",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "{{Besitz_Edelmetalle}}",
              "replaceText": "={{ $('Wufoo Trigger').item.json[\"Besitzen Sie Edelmetalle?\"].first() }}",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "{{Invest_Edelmetalle}}",
              "replaceText": "={{ $('Wufoo Trigger').item.json[\"Optional: Wie viel haben Sie in Edelmetalle investiert? (Goldbarren, Münzen, Silber usw.)\"].first() }}",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "{{Besitz_Lebensversicherung}}",
              "replaceText": "={{ $('Wufoo Trigger').item.json[\"Besitzen Sie Lebensversicherungen als Rentenvorsorge (oder Bausparverträge)?\"].first() }}",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "{{Invest_Lebensversicherung}}",
              "replaceText": "={{ $('Wufoo Trigger').item.json[\"Optional: Wie viel zahlen Sie monatlich in diese Lebensversicherung/en ein?\"].first() }}",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "{{Besitz_Bankguthaben}}",
              "replaceText": "={{ $('Wufoo Trigger').item.json[\"Optional: Wie viel Geld haben Sie auf der Bank? (Konto, Bausparer usw.)\"].first() }}",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "{{Besitz_Alternative_Werte}}",
              "replaceText": "={{ $('Wufoo Trigger').item.json[\"Haben Sie alternative (Sach-)Werte?\"].first() }}",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "{{Invest_Alternative_Werte}}",
              "replaceText": "={{ $('Wufoo Trigger').item.json[\"Haben Sie alternative (Sach-)Werte?\"].first() }}",
              "matchCase": true
            },
            {
              "action": "replaceAll",
              "text": "{{Invest_Bankguthaben}}",
              "replaceText": "={{ $('Wufoo Trigger').item.json[\"Optional: Wie viel haben Sie in alternative Werte investiert? (Krypto, Oldtimer, usw - alles was bisher nicht aufgeschienen ist)\"].first() }}",
              "matchCase": true
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1024,
        64
      ],
      "id": "c62cdcb9-c7ab-498f-99a9-15cfb937a963",
      "name": "Update a document"
    }
  ],
  "connections": {
    "Wufoo Trigger": {
      "main": [
        [
          {
            "node": "Copy file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Post to Quentn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy file": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "gWILjCr3MnTftlFz"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Wufoo Trigger": [
      {
        "json": {
          "Name:": {
            "Vorname": "Adam",
            "Nachname": "Haley"
          },
          "E-Mail-Adresse": "adamhaley@gmail.com",
          "Telefonnummer": "3233843493",
          "Besitzen Sie Immobilien": [
            "Ja"
          ],
          "Optional: Wie viel haben Sie in Immobilien investiert?": [
            "weniger als €100.000 "
          ],
          "Besitzen Sie Wertpapiere?": [
            "Ja"
          ],
          "Optional: Wie viel haben Sie in Wertpapieren investiert? (Aktien, Anleihen, ETFs usw.)": [
            "weniger als €10.000 "
          ],
          "Besitzen Sie Edelmetalle?": [
            "Ja"
          ],
          "Optional: Wie viel haben Sie in Edelmetalle investiert? (Goldbarren, Münzen, Silber usw.)": [
            "weniger als €10.000 "
          ],
          "Besitzen Sie Lebensversicherungen als Rentenvorsorge (oder Bausparverträge)?": [
            "Ja"
          ],
          "Optional: Wie viel zahlen Sie monatlich in diese Lebensversicherung/en ein?": [
            "weniger als €100 "
          ],
          "Haben Sie Geld auf der Bank?": [
            "Ja"
          ],
          "Optional: Wie viel Geld haben Sie auf der Bank? (Konto, Bausparer usw.)": [
            "weniger als €10.000 "
          ],
          "Haben Sie alternative (Sach-)Werte?": [
            "Ja"
          ],
          "Optional: Wie viel haben Sie in alternative Werte investiert? (Krypto, Oldtimer, usw - alles was bisher nicht aufgeschienen ist)": [
            "weniger als €10.000 "
          ],
          "Anmerkungen, Feedback?": "lorem ipsum dolor samet"
        }
      }
    ],
    "Update a document": [
      {
        "json": {
          "replies": [
            {
              "replaceAllText": {
                "occurrencesChanged": 8
              }
            },
            {
              "replaceAllText": {
                "occurrencesChanged": 1
              }
            },
            {
              "replaceAllText": {
                "occurrencesChanged": 1
              }
            },
            {
              "replaceAllText": {
                "occurrencesChanged": 1
              }
            },
            {
              "replaceAllText": {
                "occurrencesChanged": 1
              }
            },
            {
              "replaceAllText": {
                "occurrencesChanged": 1
              }
            },
            {
              "replaceAllText": {
                "occurrencesChanged": 1
              }
            },
            {
              "replaceAllText": {
                "occurrencesChanged": 1
              }
            },
            {
              "replaceAllText": {
                "occurrencesChanged": 1
              }
            },
            {
              "replaceAllText": {
                "occurrencesChanged": 1
              }
            },
            {
              "replaceAllText": {
                "occurrencesChanged": 1
              }
            },
            {
              "replaceAllText": {
                "occurrencesChanged": 1
              }
            },
            {
              "replaceAllText": {
                "occurrencesChanged": 1
              }
            },
            {
              "replaceAllText": {
                "occurrencesChanged": 1
              }
            },
            {
              "replaceAllText": {
                "occurrencesChanged": 1
              }
            }
          ],
          "writeControl": {
            "requiredRevisionId": "ALBJ4LvpXmaIlJDxufGkJKu9LZGXBPdNaw_CaiEk46y3PNqrXKr_11oGQ0_os2SdxHea_l3nblJR18-v5_iF"
          },
          "documentId": "1862nD2sb1BEbDoOn9rcKf9ZEqdPNm7K5Ep64kiwwvDA"
        }
      }
    ]
  },
  "versionId": "78622cd2-d6a3-42a9-ab2c-fe90bf539bed",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-07-21T16:55:15.373Z",
      "updatedAt": "2025-07-21T16:55:15.373Z",
      "role": "workflow:owner",
      "workflowId": "lqQv2l6wwUHY9Nlf",
      "projectId": "nZwUmEIL638ig6xE"
    }
  ],
  "tags": []
}